@font-face {
  font-family: 'luxe-icomoon';
  src: url('../fonts/luxe-icomoon.eot?mncm6n');
  src: url('../fonts/luxe-icomoon.eot?#iefix-mncm6n') format('embedded-opentype'),
  url('../fonts/luxe-icomoon.woff?mncm6n') format('woff'),
  url('../fonts/luxe-icomoon.ttf?mncm6n') format('truetype'),
  url('../fonts/luxe-icomoon.svg?mncm6n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('//fonts.googleapis.com/css?family=Bitter|Oxygen:300,400,700|PT+Serif:400,700&subset=latin,latin-ext');

@import "bourbon";

$experimental-support-for-svg: true;
@import "_variables.scss";
@import "_mixins.scss";
@import "focus_areas.scss";
@import "woocommerce_mini_cart.scss";
@import "woocommerce_widgets.scss";

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: #fbfbfb;

  //  display: -webkit-box;
  //  display: -moz-box;
  //  display: -ms-flexbox;
  //  display: -webkit-flex;
  //  display: flex;
  //
  //  -ms-flex-flow: column;
  //  flex-flow: column;

  font-family: 'PT Serif', serif;
  font-size: 16px;

  //height: 100%;

  //  min-height: 100vh;

  margin: 0;
  overflow-x: hidden;
}

body.bp-t {
  background: #fff !important;
}

.flex-cnt {
  overflow: hidden;
}

html, body {
  overflow-x: hidden;
}

.spr {
  height: 25px;
}

.bspr {
  height: 60px;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

h1 {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oxygen;
  line-height: 1.3;
  word-wrap: break-word;
}

h5.aut {
  margin: 0;
}

h1 {
  margin: 33px 0 12px 0;
}

h2 {
  font-size: $normalSize * 2.5;
  margin: 25px 0 12px;
}

h3 {
  font-size: $normalSize * 1.875;
  margin: 22px 0 11px;
}

h4 {
  font-size: $normalSize * 1.063;
  margin: 18px 0 9px;
}

h5 {
  font-size: $normalSize * 0.938;
  margin: 16px 0 8px;
}

h6 {
  font-size: $normalSize * 0.750;
  margin: 14px 0 7px;
}

.entry-title, h1 {
  font-size: 38px;
}

p {
  font-size: $normalSize;
  line-height: $normalSize * 1.688;
  word-wrap: break-word;
}

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 15px;
  margin: 20px 20px;
  overflow: auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.4;
}

input[type="submit"] {
  -webkit-appearance: none;
}

.alignnone {
  margin: 10px;
}

.aligncenter {
  display: block;
  margin: 10px auto;
}

.alignright {
  float: right;
  margin: 10px 0 10px 20px;
}

.alignleft {
  float: left;
  margin: 10px 20px 10px 0;
}

.lst {
  margin-right: 0;
}

.awe {
  @include icomoon();
  color: $main_color;
  font-size: $normalSize * 1.3;
}

.aIm img {
  @include border(3px, solid, #efefef);
  box-sizing: border-box;
  display: block;
}

.afim {
  @include border(3px, solid, #efefef);
  box-sizing: border-box;
  display: block;
}

.pst {
  max-width: 220px;
}

.psb, .psb img {
  margin-bottom: 10px;
  height: auto;
}

.psb img {
  display: block;
  width: 100%;
}

a.psb {
  display: block;
  min-width: 220px;
  position: relative;
  img {
    margin-bottom: 0;
  }
  &:hover {
    &:after {
      @include icomoon();
      content: '\e606';
      color: $white;
      display: block;
      font-size: 72px;
      height: 72px;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 72px;
      z-index: 3;
    }
    &:before {
      @include transition(all, .5s, linear);
      background: rgba($main_color, .4);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

.aIm.left, .afim.left {
  margin: 0 20px 20px 0;
}

.aIm.right, .afim.right {
  margin: 0 0 20px 20px;
}

.aIm.center, .afim.center {
  margin: 20px auto;
}

//.divi {
//  border-bottom: 1px solid #D5D5D5;
//  clear: both;
//  display: block;
//  margin-bottom: 10px;
//  position: relative;
//}

#floating_menu {
  width: 100%;
  z-index: 101;
  @include transition(all, 0.2s, linear);
  header {
    @include transition(all, 0.2s, ease-out);
    padding: 18px 0;
  }
  &[data-float='float-fixed'] {
    @include transition(all, 0.2s, linear);
    img, #text_logo {
      @include transition(all, 0.2s, linear);
    }
  }
  #logo {
    img {
      @include transition(max-height, 0.2s, linear);
    }
  }
  &.mff {
    @include transition(all, 0.3s, linear);
    position: fixed;
    opacity: 1;
    visibility: visible;
    .tt-dmy {
      display: none;
    }
    .hic, .hif {
      height: 100% !important;
      .tt-dmy {
        display: none !important;
      }
    }
    .hic {
      #head_wrp {
        position: static;
      }
    }
    &.a60 {
      &.mfd {
        opacity: 0;
        visibility: hidden;
        @include transition(all, 0.3s, linear);
      }
      header {
        @include transition(all, 0.2s, linear);
        padding: 8px 0;
        #logo {
          img {
            @include transition(max-height, 0.2s, linear);
            max-height: 50px;
          }
        }
        .center_logo {
          .phone {
            display: none;
          }
          #logo img {
            max-height: 100px;
          }
          #text_logo {
            font-size: 0;
          }
        }
        .side_logo {
          .phone {
            .fphr {
              display: none;
            }
          }
        }
      }
    }
  }
}

.tt-dmy {
  //  height: 100%;
  visibility: hidden;
}

header {
  .hsm {
    display: none;
  }
  @include linear-gradient($white 0%, #e8e8e8 100%);
  font-family: Oxygen;
  font-weight: 400;
  padding: 18px 0;
  .dfm {
    color: #5b5b5b;
    display: block;
    font-size: 17px;
    padding-bottom: 20px;
  }
  .lg {
    //display: block;
    &.cen {
      margin: 0 auto;
    }
  }
  .hmn {
    display: none;
  }
  nav {
    > ul.menu, ul#menu {
      > li {
        > a {
          &:hover {
            box-shadow: 0px 1px 1px 1px #fbfbfb;
            border-radius: 50px;
            border: 1px solid #e3e3e3;
            color: $darkGray;
            padding: 9px;
          }
        }
        &.current-menu-item, &.current_page_item {
          > a {
            box-shadow: 0px 1px 1px 1px #fbfbfb;
            border-radius: 50px;
            border: 1px solid #e3e3e3;
            color: $darkGray;
            padding: 9px;
          }
        }
      }
    }
    > ul > li.menu-item-has-children {
      > ul {
        > li:first-child {
          &:before {
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent $main_color transparent;
            content: '';
            display: table;
            height: 0;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            top: -12px;
            width: 0;
          }
        }
      }
    }
    ul {
      li {
        display: inline-block;
        float: left;
        line-height: 17px;
        padding: 0 10px;
        position: relative;
        a {
          color: $lightGray;
          display: block;
          padding: 10px;
          &:hover {
            color: $main_color;
          }
        }
        > ul {
          box-shadow: 0 4px 11px -9px $black;
          display: none;
          margin-left: -100px;
          min-width: 200px;
          position: absolute;
          left: 50%;
          top: 65px;
          z-index: 4000;
          li {
            background: #e9e9e9;
            border-top: 1px solid #dcdcdc;
            color: $white;
            display: block;
            float: none;
            position: relative;
            padding: 0;
            z-index: 4000;
            &:first-child {
              border-top: 2px solid $main_color;
              padding: 0;
            }
            a {
              &:hover {
                background-color: #f6f6f6;
              }
            }
            ul {
              padding-left: 0;
              top: -2px;
              left: 150%;
              width: 100%;
            }
          }
        }
      }
      > li {
        padding: 18px 0;
      }
    }
  }
  &.header-landing {
    padding: 32px 0 13px 0;
  }
}

header {
  display: block;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: bottom;
  }
  .lg {
    float: none;
  }
  #head_wrp {
    display: inline-block;
    vertical-align: bottom;
  }
  #nav_right {
    text-align: left;
  }
  .center_logo {
    #logo, #text_logo {
      float: none;
    }
    #nav_right {
      display: table;
      margin: 0 auto;
      .phone {
        display: table-cell;
        vertical-align: middle;
      }
      nav.right {
        display: block;
        float: none;
        vertical-align: middle;
      }
    }
  }
  .side_logo {
    .h-i {
      display: table;
      width: 100%;
    }
    #logo, #text_logo {
      text-align: left;
    }
    #logo, #text_logo, #nav_right, .phone {
      display: table-cell;
      float: none;
    }
    #logo, #text_logo, .phone {
      vertical-align: middle;
    }
    #nav_right {
      vertical-align: bottom;
    }
  }
}

#logo {
  @include transition(all, 0.5s, ease-in-out);
  img {
    max-width: 200px;
  }
}

#text_logo {
  font-size: 32px;
  line-height: 50px;
}

//.center_logo {
////  #logo, #text_logo {
////    display: table;
////    margin: 0 auto;
////    max-width: 100%;
////  }
//  #logo {
//    img {
//      display: block;
//      //      max-height: auto;
//      //      max-width: 100%;
//    }
//  }
//  #text_logo {
//    text-align: center;
//  }
//  nav.right {
//    float: left;
//  }
//  #nav_right {
//    display: table;
//    margin: 0 auto;
//  }
//  .lg {
//    display: inline;
//    max-width: 100%;
//  }
//}

//#logo {
//  display: table-cell;
//  max-width: 19%;
//  vertical-align: middle;
//  img {
//    max-width: 200px;
//  }
//}
//
//#text_logo {
//  display: table-cell;
//  font-size: 32px;
//  vertical-align: middle;
//}

//.side_logo {
//  display: table;
//  #logo, #text_logo {
//    max-width: auto;
//  }
//}

@each $color in $color-pallete {
  #text_logo.#{nth($color, 1)} a {
    color: nth($color, 2);
  }
}

//
//#nav_right {
//  display: table-cell;
//  vertical-align: middle;
//}
//
//.has_phone {
//  &.center_logo {
//    #nav_right {
//      margin-top: 10px;
//    }
//  }
//}

@media only screen and (min-width: 768px) {
  header {
    nav {
      > ul.menu, > ul#menu {
        > li.h-cta {
          > a:hover {
            box-shadow: none;
            border-radius: 30px;
            color: #fff;
            padding: 10px;
          }
        }
      }
    }
  }
  .h-cta {
    padding: 18px 0 0;
    margin: 0 5px;
    > a {
      border-radius: 30px;
      color: #fff;
      &:hover {
        padding: 10px;
      }
    }
    span {
      display: block;
      font-size: 8px;
    }
  }
}

.phone, .phone_mobile {
  display: table-cell;
  font-family: 'Oxygen';
  text-align: center;
  vertical-align: middle;
  width: 230px;
  .phr {
    box-shadow: 0px 1px 0px 0px $white;
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    padding: 10px;
  }
  .apnr, span {
    display: block;
  }
  span {
    font-size: 13px;
    line-height: 22px;
  }
  .mphr, .fphr {
    color: #606060;
    font-size: 13px;
  }
  .fphr {
    display: block;
  }
  .apnr {
    font-size: 19px;
    line-height: 25px;
    &:before {
      @include icomoon();
      //todo
      //content: '\f095';
      content: '\e600';
      color: #606060;
      display: inline-block;
      margin-right: 5px;
    }
  }
  a {
    color: #606060;
  }
}

.phone_mobile {
  display: none;
}

.phone {
  .mphr {
    display: none;
  }
}

.bSe, .widget {
  .phone {
    display: block;
    margin: 0 auto;
    a {
      color: #606060;
      text-decoration: none;
    }
  }
}

/*content*/
.awr {
  .entry-title:first-child {
    margin-top: 0;
  }
}

.brd {
  @include bshadow();
  border-bottom: 1px solid #e0e0e0;
  font-family: Oxygen;
  .wrp {
    padding: 12px 20px;
  }
  ul {
    list-style-type: none;
    li {
      color: #8b8b8b;
      font-size: $normalSize * 0.75;
      display: inline;
      span {
        display: inline-block;
        margin: 0 5px;
      }
      a {
        color: #8b8b8b;
      }
      .sel {
        color: $main_color;
        > span {
          color: #8b8b8b;
        }
      }
    }
  }
}

.brd .no-link {
  color: #8c8b8b;
  text-decoration: none;
  cursor: default;
}

.biI {
  margin-top: 20px;
  width: 100%;
}

.fwI {
  margin-bottom: 40px;
  width: 100%;
}

.icn {
  //background-image: url('../images/sprite-web.png');
  display: block;
  &.icn-1 {
    // background-position: 0px 0px;
    height: 19px;
    width: 19px;
    &:before {
      @include icomoon();
      color: #a1a1a1;
      content: '\e601';
      display: block;
      line-height: 18px;
      font-size: 18px;
    }
  }
  &.icn-2 {
    background-position: -22px 0;
    height: 19px;
    width: 19px;

  }
  &.icn-3 {
    background-position: -45px 0;
    height: 19px;
    width: 19px;
  }
}

.cnt {
  .inf {
    box-shadow: 0px 4px 2px -2px #e0e0e0 inset;
    border-top: #e7e7e7;
    .date {
      background: url('../images/dateBg.png') no-repeat;
      color: #3b3b3b;
      display: table;
      font-style: italic;
      font-size: $normalSize * 0.813;
      height: 53px;
      margin: -5px 0 0 8px;
      text-align: center;
      width: 117px;
      > span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .by {
      ul {
        list-style-type: none;
        margin: 10px 0 0;
        padding: 0;
        li {
          color: #939393;
          display: block;
          font-size: $normalSize * 0.75;
          float: left;
          &.sep {
            padding: 0 5px;
          }
          a {
            color: #939393;
            text-decoration: none;
          }
        }
      }
    }
    .stk {
      background: url('../images/sprite-web.png') no-repeat -69px 0;
      height: 28px;
      margin: -5px 5px 0 20px;
      width: 23px;
    }
  }
  .awr {
    padding: 10px;
    > .out:first-child, > .clear:first-child + .out, .thrv_page_section:first-child {
      margin-top: -70px !important;
    }
  }
  .bpd {
    margin: 0 auto;
    width: 864px;
    .out {
      margin-left: -2500px;
      width: 5844px;
    }
  }
  h1, .ctb, .entry-title {
    a {
      color: #424242;
      &:hover {
        color: #6e6e6e;
      }
    }
  }
  a {
    color: $link_color;
    &:hover {
      color: $main_color;
    }
    &.cmt, &.acm {
      color: $white;
    }
  }
  .bSe {
    article {
      box-sizing: border-box;
      position: relative;
      &.sticky {
        border: 1px solid $main_color;
      }
    }
  }
  .bSe.left, .bSe.right {
    width: 67.59%;
  }
  .sAs {
    margin-left: 20px;
    padding-top: 10px;
    width: 28%;
    .twr {
      background: #FBFBFB;
      margin: 0px -26px 0px -25px;
      position: relative;
      top: -2px;
      p {
        margin-top: -20px;
      }
      .ttl:after {
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        border-top: 1px solid #DBDBDB;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        box-sizing: border-box;
        background: $white;
        content: '';
        display: block;
        height: 10px;
        margin: 20px 0px -20px -11px;
        width: 100%;
      }
    }
    .awr {
      padding: 20px 15px;
      p {
        color: $textGray;
      }
      &.side_body {
        .twr {
          margin: 0px -11px 0px -25px;
        }
      }
    }
    .ttl {
      font-weight: bold;
      line-height: $normalSize;
    }
    > section {
      margin-bottom: 25px;
    }
  }
  .sAs.left {
    margin-left: 0;
  }
  article {
    .aut {
      p {
        color: $main_color;
        margin-bottom: 10px;
      }
    }
    p {
      color: $textGray;
      margin-bottom: 40px;
      word-wrap: break-word;
    }
    .shw p {
      margin-bottom: 0;
    }
    ul {
      list-style-image: url('../images/bullet.png');
    }
    ul, ol {
      color: $textGray;
      line-height: $normalSize + 0.875em;
      margin-bottom: 1.25em;
      padding-left: 2em;
      ul, ol {
        padding-left: 3em;
      }
    }
    .aut ul {
      border-right: 1px solid #dbdbdb;
      list-style-image: none;
      list-style-type: none;
      margin: 0;
      padding: 0 10px 0 15px;
    }
    h1, .entry-title {
      font-family: Oxygen;
      font-weight: 700;
      line-height: $normalSize * 1.25;
      a {
        text-decoration: none;
      }
    }
    h4 {
      font-family: Oxygen;
      font-weight: 700;
      a {
        text-decoration: none;
      }
    }
    a {
      text-decoration: underline;
      &.crp, &.btn {
        text-decoration: none;
      }
    }
    .pgn a, .cmc a, .mre a {
      text-decoration: none;
    }
  }
  .mre {
    @include transition(background, .5s, ease-in-out);
    border-radius: 50px;
    border: 1px solid #e4e4e4;
    background: $white;
    font-size: $normalSize * 0.813;
    padding: 7px 10px;
    text-align: center;
    &:hover {
      background: #e4e4e4;
      color: #353535;
      .awe {
        color: #232323;
      }
    }
    > p {
      display: none;
    }
    span {
      display: block;
      float: left;
    }
    span:first-child {
      line-height: $normalSize * 1.5;
    }
    .awe {
      line-height: $normalSize * 1.2;
      margin-left: 10px;
    }
  }
  .rmt {
    color: $textGray;
    line-height: 1.8em;
    position: absolute;
    right: 0;
    bottom: -15px;
    &:after {
      content: '...';
    }
  }
  section {
    footer {
      background: #fbfbfb;
      color: lighten($main_color, 7%);
      margin: 30px 0 0 0;
      padding: 0;
    }
    .tgs {
      cursor: pointer;
      font-family: Oxygen;
      font-size: $normalSize * 0.75;
      line-height: $normalSize * 2;
      margin-top: 5px;
      position: relative;
      p {
        margin-bottom: 0;
      }
      a {
        color: lighten($main_color, 7%);
      }
      > span {
        float: left;
        &.icn {
          margin-right: 10px;
        }
      }
      .showTags {
        color: $main_color;
        float: left;
      }
    }
    .tagsList {
      float: left;
      a {
        color: #a1a1a1;
        font-size: 12px;
        display: inline-block;
        float: left;
        margin-right: 5px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: #6e6e6e;
        }
      }
    }
  }
}

section[id*='categories'] {
  label[for='cat'] {
    display: none;
  }
}


.no_content_msg {
  text-align: center;
}

.tagcloud {
  font-size: $normalSize * 0.75;
  a {
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    background: $white;
    color: $textGray;
    display: inline-block;
    font-size: $normalSize !important;
    margin-bottom: 5px;
    padding: 10px 12px;
    &:hover {
      border: 1px solid lighten($main_color, 7%);
      color: $main_color;
    }
  }
}

.ctb {
  border-top: 1px solid #e7e7e7;
}

.no_comm {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
}

.cms, .tabs_widget, .scbp {
  .scn {
    font-size: $normalSize * 0.813;
  }
  .left {
    width: 30%;
    img {
      border: 1px solid #e2e2e2;
      height: 64px;
      max-height: 64px;
      width: 64px;
      max-width: 64px;
    }
  }
  .right {
    width: 70%;
    p {
      font-weight: 700;
    }
  }
}

blockquote {
  font-style: italic;
  margin: 25px 0;
}

.pulQ {
  border-left: none;
  color: #535353;
  display: inline-table;
  font-family: Georgia;
  font-size: $normalSize * 1.125;
  margin: 0;
  div.left {
    @extend blockquote;
    background: url('../images/pulQBg.jpg') repeat-y top left;
    display: table-cell;
    min-height: 31px;
    margin-top: 0;
    max-width: 81%;
    padding-left: 20px;
  }
  .quo {
    background: url('../images/sprite-web.png') -104px -1px;
    display: table-cell;
    height: 31px;
    margin: 0 15px;
    min-width: 36px;
  }
  &.left, &.right {
    max-width: 50%;
    div.left {
      margin-right: 20px;
      max-width: 70%;
    }
  }
  i {
    color: lighten($textGray, 20%);
  }
}

.bSe {
  table {
    line-height: $normalSize + 0.375;
    text-align: center;
    width: 100%;
    tr {
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
    }
    td, th {
      background: #fff;
      padding: 10px;
      text-align: left;
    }
    th {
      color: $main_color;
      font-weight: 700;
      padding: 10px;
    }
    td {
      color: $textGray;
      line-height: $normalSize * 1.5;
    }
  }
}

dl {
  line-height: $normalSize + 0.875;
  dt {
    color: darken($content_gray, 40%);
    font-weight: bold;
  }
}

address, dl, table {
  @include marginBottom;
}

.page-numbers {
  @include transition(all, .2s, linear);
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  background: #f1f1f2;
  cursor: pointer;
  display: table;
  float: left;
  font-family: Bitter;
  font-size: $normalSize * 0.875;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  vertical-align: middle;
  text-align: center;
  .bSe & {
    color: $black;
  }
  &:first-child {
    border-left: 1px solid #e3e3e3;
  }
  &:hover, &.current {
    background: #f8f8f8;
    color: $black;
  }
}

.com-pgn {
  @include clearfix();
  margin-bottom: 10px;
  .page-numbers {
    text-decoration: none;
  }
}

.pgn {
  border: 1px solid #e3e3e3;
  color: $black;
  font-family: Bitter;
  font-size: $normalSize * 0.875;
  list-style-type: none;
  li {
    border-left: 1px solid #e3e3e3;
    display: table;
    float: left;
    text-align: center;
    &:first-child {
      border-left: none;
    }
  }
  a, .dots, span {
    @include transition(all, .2s, linear);
    background: #f1f1f2;
    color: $black;
    display: table-cell;
    height: 48px;
    padding: 0 20px;
    vertical-align: middle;

  }
  a:hover, .dots:hover {
    background: #f8f8f8;
    color: $black;
  }
  .current {
    background: #f8f8f8;
    color: $black;
  }
  .nxt, .prv {
    padding: 0 25px;
  }
}

.ctr {
  text-align: center;
}

.lost {
  margin: 0 auto;
  width: 40%;
}

.scn {
  .sAs & {
    @include bshadow();
    border-radius: 9px;
    border: 1px solid #dbdbdb;
  }
  &.aut {
    @include bshadow();
    border-radius: 9px;
    border: 1px solid #dbdbdb;
  }
  color: #949494;
  ul {
    list-style-type: none;
    ul {
      padding-left: 10%;
    }
    li {
      a {
        color: $textGray;
        &:hover {
          color: #434242;
        }
      }
    }
  }
  .awr {
    > ul, section[id*='nav_menu-'] & ul, ul[id*='menu'] {
      li {
        background: url('../images/bullet.png') no-repeat left 18px;
        border-bottom: 1px dotted #E2DFDF;
        line-height: $normalSize + 0.375;
        padding: 10px 20px;
        position: relative;
        &:last-child {
          border-bottom: 0;
        }
        ul {
          li {
            padding: 10px 0 10px 10px;
          }
        }
      }
      a {
        @include transition(all, .2s, linear);
        &:hover {
          margin-left: 4px;
        }
      }
    }
  }
}

.ttl {
  font-family: Oxygen;
  padding: 0 0 20px 20px;
  text-transform: uppercase;
}

.srh {
  > div {
    @include border(1px, solid, #c6c6c6);
    border-radius: 20px;
    background: $white;
  }
  input.search-field, .search_field {
    border-radius: 20px;
    border: none;
    height: 38px;
    padding: 0 20px;
    width: 68%;
  }
}

.sAs, .ftw {
  .srh {
    position: relative;
    input.search-field, .search_field {
      box-sizing: border-box;
      padding-right: 40px;
      width: 100%;
    }
  }
  .sBn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.sBn {
  border: none;
  float: right;
  height: 40px;
  &:hover {
    cursor: pointer;
  }
}

.search-button, .submit_btn {
  @extend .sBn;
  //todo
  //@include fontawesome();
  @include icomoon();
  background: none;
  color: $main_color;
  height: 38px;
  width: 40px;
}

#search-big-button {
  @extend .sBn;
  background: #7b7b7b;
  color: $white;
  width: 22%;
}

.tabs_widget {
  .tabs_content {
    display: none;
  }
  .tabs {
    font-family: Oxygen;
    li {
      display: inline-block;
      float: left;
      min-height: 35px;
      line-height: 35px;
      text-align: center;
      position: relative;
      width: 87px;
      a {
        &:hover {
          color: $main_color;
        }
      }
      &.tS {
        border-radius: 20px;
        background: #5b5b5b;
        a {
          color: $white;
          &:after {
            border-width: 6px;
            border-style: solid;
            border-color: #5b5b5b transparent transparent transparent;
            content: '';
            display: table;
            height: 0;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -12px;
            width: 0;
          }
        }

      }
    }
  }
}

.rw {
  .tim {
    margin-right: 5%;
    width: 20%;
    .wti {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      height: 58px;
      width: 58px;
    }
  }
  .txt {
    width: 70%;
    padding-left: 3%;
  }
  .noImageTab {
    background: url("../images/bullet.png") no-repeat scroll left 7px;
    padding-left: 15px;
    width: 100%;
  }
  .pps {
    margin-bottom: 10px;
  }
}

.tabs_widget {
  .pps {
    a {
      color: #706f6f;
    }
    &:hover {
      .wti {
        position: relative;
        &:after {
          @include icomoon();
          content: '\e606';
          color: $white;
          display: block;
          font-size: 24px;
          height: 24px;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 24px;
          z-index: 3;
        }
        &:before {
          @include transition(all, .5s, linear);
          background: rgba($main_color, .5);
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
        }
      }
      a {
        color: $main_color;
      }
    }
  }
  .default_tab_image {
    .wti {
      position: relative;
      &:after {
        @include icomoon();
        content: '\e606';
        color: #323232;
        display: block;
        font-size: 24px;
        height: 24px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 24px;
        z-index: 3;
      }
    }
  }
}

.scTC {
  display: none;
  padding-top: 30px;
}

.scTC {
  .cnt .sAs & {
    p {
      font-size: $normalSize * 1.231;
      font-weight: bold;
    }
  }
  .tim {
    margin-right: 5%;
    width: 20%;
    .wti {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      height: 58px;
      width: 58px;
    }
  }
  .txt {
    padding-left: 3%;
  }
}

.scTC, .scbp {
  .txt {
    padding-left: 3%;
    width: 67%;
  }
  .noImageTab {
    background: url("../images/bullet.png") no-repeat scroll left 7px;
    padding-left: 15px;
    width: 100%;
  }
}

.scbp {
  color: #949494;
  .csc & {
    h3 {
      margin-top: 0;
    }
  }
  .thrive_date {
    font-style: italic;
    font-size: $normalSize * 0.85;
  }
  a {
    display: block;
    font-size: $normalSize;
    font-weight: bold;
    line-height: $normalSize * 1.4;
    .cnt article & {
      text-decoration: none;
    }
  }
  .pps {
    margin-bottom: 20px;
    min-height: 40px;
  }
  .tim {
    margin-right: 10px;
    width: 66px;
    a {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      height: 65px;
      width: 65px;
    }
  }
  .txt {
    padding-left: 10px;
  }
  .noImageTab {
    &.txt {
      padding-left: 20px;
    }
  }
}

section[id*='rss-'] {
  p.upp.ttl {
    position: relative;
  }
  a.rsswidget {
    color: #424242;
    img {
      display: none;
    }
    &:nth-child(2) {
      &:after {
        @include icomoon();
        //@include fontawesome();//
        //todo
        //content: '\f09e';
        content: '\e603';
        color: $main_color;
        display: block;
        height: 10px;
        position: absolute;
        top: 0;
        right: 20px;
        width: 10px;
      }
    }
  }
  .scn .awr {
    ul {
      a {
        @include transition(none, .0s, linear);
        &:hover {
          margin-left: 0;
        }
      }
    }
  }
  ul {
    list-style-type: none;
    li {
      background: none !important;;
    }
    > li {
      > a.rsswidget, .rss-date {
        border-left: 1px solid #dbdbdb;
        display: inline-block;
        padding-left: 10px;
      }
      .rss-date {
        color: #acacac;
        font-style: italic;
      }
      .rssSummary {
        color: $textGray;
        padding-left: 10px;
      }
    }
  }
}

.follow_me {
  .cnt & .awr {
    overflow: visible;
  }
  .cnt .sAs & .awr {
    padding-right: 0;
  }
  .side_body {
    ul {
      li {
        background: none;
        border: none;
        float: left;
        padding: 0;
        position: relative;
        a.sm {
          display: block;
          height: 47px;
          margin: 0 10px 20px 0;
          padding-top: 23px;
          text-align: center;
          span {
            //background: url('../images/sprite-web.png') no-repeat;
            display: block;
            height: 23px;
            margin: 0 auto 0 auto;
            width: 32px;
            &:before {
              @include icomoon();
              color: $white;
              font-size: 20px;
            }
          }
        }
        a.sm-1col {
          width: 85px;
        }
        a.sm-2col {
          width: 180px;
        }
        a.sm-3col {
          width: 275px;
          margin-left: 0;
        }
        a.fb {
          background: #4e6caa;
          span {
            &:before {
              content: '\e60b';
            }
          }
        }
        a.twitter {
          background: #32ccfe;
          span {
            &:before {
              content: '\e60a';
            }
          }
        }
        a.g_plus {
          background: #da5333;
          span {
            &:before {
              content: '\e60c';
            }
          }
        }
        a.rss {
          background: #fe9902;
          span {
            &:before {
              content: '\e603';
            }
          }
        }
        a.linkedin {
          background: #0073b2;
          span {
            &:before {
              content: '\e60e';
            }
          }
        }
        a.dribble {
          background: #ea4b8b;
          span {
            &:before {
              content: '\e60f';
            }
          }
        }
        a.youtube {
          background: #d53a3d;
          span {
            &:before {
              content: '\f167';
            }
          }
        }
        a.vimeo {
          background: #1bb6ec;
          span {
            &:before {
              content: '\e609';
            }
          }
        }
        a.prinster {
          background: #cd1f28;
          span {
            &:before {
              content: '\e60d';
            }
          }
        }
        a.is {
          background: #927668;
          span {
            &:before {
              content: '\f16d';
            }
          }
        }
        a.xi {
          background: #006567;
          span {
            &:before {
              content: '\f168';
            }
          }
        }
        .bubble {
          box-shadow: 1px 0px 4px 0px rgba(#587076, .3);
          border-radius: 2px;
          background: $white;
          border: 1px solid #b2c7cd;
          display: block;
          padding: 10px;
          position: relative;
          &:after {
            @include transform(skewX(39deg));
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 13px solid $white;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            bottom: -13px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
          }
          &:before {
            @include transform(skewX(39deg));
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 15px solid #b2c7cd;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
          }
        }
        .bubb {
          display: block;
          min-width: 50px;
          padding-bottom: 20px;
          position: absolute;
          bottom: 97%;
          left: -9000px;
          z-index: 4;
        }
      }
    }
  }
}

.avatar {
  border-radius: 100px;
  display: block;
  .authorBox & {
    height: 125px;
    margin: 0 auto 35px auto;
    width: 125px;
  }
  .scn.awr.aut & {
    box-shadow: none;
    float: left;
    height: 80px;
    max-width: 80px;
    width: 80px;
  }
  .aut & {
    box-shadow: 0 0 2px 2px #E1E1E1;
    max-width: 72px;
  }
}

.tagcloud {
  a {
    @include transition(all, .2s, linear);
    margin-right: 5px;
    text-decoration: underline;

  }
}

caption {
  color: $content_gray;
}

#wp-calendar {
  table-layout: fixed;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  caption {
    padding-bottom: 10px;
  }
  th {
    color: $black;
  }
  td {
    background: #fcfcfc;
    font-size: 100%;
    a {
      border-radius: 100px;
      box-sizing: border-box;
      border: 1px solid #959595;
      display: block;
      margin: 0 auto;
      width: 30px;
    }
  }
  th, td {
    line-height: $normalSize * 2;
    padding: 0;
    text-align: center;
  }
  td#prev, td#next {
    a {
      color: $black;
      width: 70px;
    }
  }
}

.cmb {
  div.left {
    margin-right: 20px;
  }
  div.right {
    width: 85%;
  }
}

.cnt article .cmb {
  p {
    margin-top: 10px;
  }
}

.mspr {
  height: 5px;
}

.aut {
  p {
    font-size: $normalSize * 0.875;
  }
  h4 {
    color: $main_color;
    margin: 5px 0;
  }
  div.left {
//    width: 20%;
    .awe {
      color: lighten($main_color, 10%);
    }
    a {
      text-decoration: none;
    }
  }
  div.right {
    width: 80%;
    &.noSocial {
      width: 85%;
    }
  }
  img {
    border-radius: 100px;
    float: left;
    max-width: 80px;
  }
}

.cmb {
  margin-left: 5%;
}

.cmc {
  @include border(1px, solid, #e6e6e6);
  background: #fcfcfc;
  font-size: $normalSize;
  margin-bottom: 20px;
  padding: 20px;
  .nam {
    color: #8c8c8c;
    display: block;
    font-size: $normalSize * 0.750;
    font-style: italic;
    line-height: $normalSize * 2;
    .uDt {
      font-style: italic;
      font-size: 1.0em;
    }
    a, .uNM {
      color: $main_color;
      font-weight: bold;
      font-style: normal;
      font-size: $normalSize * 1.21;
    }
  }
  &.byAut {
    border: 1px dashed $main_color;
    background: scale-color($main_color, $lightness: 95%);
  }
}

.rpl {
  @include transition(all, .2s, linear);
  border-radius: 20px;
  background: #f7f7f7;
  border: 1px solid #e4e4e4;
  color: $main_color;
  cursor: pointer;
  font-size: $normalSize * 0.75;
  float: right;
  line-height: $normalSize;
  min-width: 70px;
  padding: 6px;
  text-align: center;
  .awe {
    font-size: 1em;
    margin-right: 5px;
  }
  &:hover {
    background: $main_color;
    border: 1px solid $main_color;
    color: $white;
    .awe {
      color: $white;
    }
  }
}

.crp {
  @extend .rpl;
}

.lrp {
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  h4 {
    color: $main_color;
    margin-top: 0;
  }
  textarea {
    border-radius: 9px;
    border: 1px solid #cdcdcd;
    color: #9f9f9f;
    min-height: 170px;
    padding: 3%;
    width: 93%;
    &:hover {
      border: 1px solid $main_color;
    }
  }
  .btn {
    margin: 10px 0 15px;
  }
  input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    background: $white;
    color: $main_color;
    cursor: pointer;
    font-family: Oxygen;
    font-weight: 700;
    margin: 20px 0;
    padding: 10px 20px;
    &:hover {
      border: 1px solid $main_color;
    }
  }
  input[type="text"]::-webkit-input-placeholder {
    color: #9f9f9f;
  }
  input[type="text"] {
    border-radius: 9px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    color: #9f9f9f;
    float: left;
    height: 40px;
    margin: 0 4.2% 3% 0;
    padding: 0 0 0 2%;
    width: 30.3%;
    &:hover {
      border: 1px solid $main_color;
    }
    &.lst {
      margin-right: 0;
    }
  }
}

.arh {
  h4 {
    margin-bottom: 10px;
  }
  span {
    font-size: $normalSize * 0.75;
  }
}

.lnd {
  h1 {
    font-weight: normal;
    span {
      font-weight: bold;
    }
  }
  .vdo {
    margin-bottom: 40px;
  }
}

.cta_bnt {
  @include linear-gradient(bottom, #e8e8e8 0%, $white 100%);
  color: #666565;
  display: block;
  font-weight: bold;
  font-size: $normalSize;
  margin-top: 20px;
  padding: 15px;
  text-transform: uppercase;
  width: 90%;
  &:hover {
    @include linear-gradient(bottom, $white 0%, #e8e8e8 100%);
  }
}

/*end content*/
/*footer*/
footer {
  margin-top: 50px;
  ul {
    list-style-type: none;
  }
  .ttl {
    font-size: $normalSize * 1.875;
    font-weight: 700;
    text-transform: capitalize;
  }
  .authorBox {
    .scn {
      .avt, p {
        float: left;
      }
      p {
        padding-left: 10px;
        width: 50%;
      }
    }
  }
  .ftw {
    background: #eeeeee;
    border-top: 1px solid #e3e3e3;
    padding: 40px 0;
  }
  .fmn {
    background: #1e1e1e;
    border-top: 1px solid #2b2b2b;
    padding: 20px 0;
    text-transform: uppercase;
    ul {
      display: table;
      list-style-type: none;
      margin: 0 auto;
      li {
        display: inline-block;
        margin-right: 20px;
        a {
          color: #b5b5b5;
          font-family: Oxygen;
          font-size: 13px;
          font-weight: 700;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  .copy {
    background: #232323;
    border-top: 1px solid #2b2b2b;
    padding: 20px 0;
    p {
      color: #b0b0b0;
      font-size: 13px;
      text-align: center;
    }
    a {
      color: #b0b0b0;
      &:hover {
        color: $white;
      }
    }
    .fsc {
      display: table;
      list-style-type: none;
      margin: 25px auto 0;
      li {
        display: inline-block;
      }
      span {
        border-radius: 100px;
        background: $white;
        color: #686868;
        display: block;
        height: 34px;
        line-height: 1.6em;
        margin-right: 10px;
        text-align: center;
        width: 34px;
      }
    }
  }
  #wp-calendar {
    font-size: $normalSize/1.2;
    td {
      background: transparent;
    }
  }
  .colm {
    section {
      > ul {
        li {
          background: url('../images/bullet.png') no-repeat left 18px;
          border-bottom: 1px dotted #E2DFDF;
          line-height: $normalSize + 0.375;
          padding: 10px 20px;
          position: relative;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    section[id*="nav_menu"] {
      ul {
        li {
          background: url('../images/bullet.png') no-repeat left 18px;
          border-bottom: 1px dotted #E2DFDF;
          line-height: $normalSize + 0.375;
          padding: 10px 20px;
          position: relative;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.ftw {
  .colm {
    /*min-width: 220px;*/
    section {
      width: 100%;
    }
  }
  .col {
    min-width: 200px;
    margin-left: 2%;
    margin-bottom: 5%;
    width: 22%;
    &:first-child {
      margin-left: 0;
    }
  }
}

/*end footer*/
/*shortcodes*/
.flexible-container {
  height: 0;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.colm {
  float: left;
  margin-bottom: 10px;
}

.twc {
  padding: 0 2% 0 0;
  width: 49%;
  &.lst {
    padding: 0 0 0 0;
  }
}

.thc {
  padding: 0 2% 0 0;
  width: 32%;
  &.lst {
    padding: 0 0 0 0;
  }
}

.oth {
  padding: 0 2% 0 0;
  width: 32%;
  &.lst {
    padding: 0 0 0 0;
  }
}

.tth {
  padding: 0 2% 0 0;
  width: 66%;
  &.lst {
    padding: 0 0 0 0;
  }
}

.foc {
  padding: 0 2% 0 0;
  width: 23.5%;
  &.lst {
    padding: 0%;
  }
}

.ofo {
  padding: 0 2% 0 0;
  width: 23.5%;
  &.lst {
    padding: 0;
  }
}

.tfo {
  padding: 0 2% 0 0;
  width: 74.5%;
  &.lst {
    padding: 0;
  }
}

.fft {
  padding: 0 2% 0 0;
  width: 23.5%;
  &.lst {
    padding: 0 0 0 0;
  }
}

.fft + .twc {
  padding: 0 2% 0 0;
}

.twc:first-child {
  padding: 0 2% 0 0;

}

.fft + .twc.lst {
  padding: 0 0 0 0;
}

//.faqC {
//  &.red, &.green, &.orange, &.blue, &.purple, &.gray, &.dark, &.light {
//    color: $white;
//  }
//}

.btn, .btn > span, .btn input[type="submit"] {
  display: inline-block;
}

.btn {
  cursor: pointer;
  line-height: 1em;
  margin-bottom: 15px;
  position: relative;
  outline: none;
  overflow: visible; /* removes extra side padding in IE */
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  white-space: normal;
  &.small {
    border-radius: 25px;
  }
  &.medium {
    border-radius: 25px;
  }
  &.big {
    border-radius: 25px;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

button::-moz-focus-inner {
  border: none;
}

button.button {
  margin: 0;
  padding: 0;
}

a.button, a.button:hover {
  text-decoration: none;
}

.btn > span, .btn input[type="submit"] {
  line-height: 1em;
  font-family: Oxygen;
  position: relative;
  padding: .6em 1.3em;
  text-align: center;
  text-decoration: none;
  white-space: normal;
}

.btn {
  &.brown, &.blue, &.green, &.orange, &.purple, &.red, &.dark, &.teal {
    color: $white !important;
    input[type="submit"] {
      color: $white !important;
    }
  }
  &.light {
    color: #5a5a5a !important;
  }
}

.btn {
  &.small > span, &.small input[type="submit"] {
    font-size: $normalSize * 0.688;
    padding: 6px 16px;
  }
  &.medium > span, &.medium input[type="submit"] {
    font-size: $normalSize * 0.813;
    padding: 11px 28px;
  }
  &.big > span, &.big input[type="submit"] {
    font-size: $normalSize * 1.063;
    padding: 15px 36px;
  }
  &.aligncenter {
    display: table;
    margin: 0 auto 15px auto;
  }
}

@each $color in $color-pallete {
  .btn.#{nth($color, 1)} {
    background-color: nth($color, 2);
    border: 1px solid nth($color, 3);
    &:hover {
      background: nth($color, 4);
    }
    &:active {
      background: nth($color, 3);
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  button.btn > span {
    margin-top: -1px;
    margin-right: -2px;
    margin-left: -2px;
  }
}

.btn.full {
  width: 100%;
  text-align: center;
}

.fwit {
  margin: -20px -20px 10px -20px;
  overflow: hidden;
}

.fwi {
  margin: 0px -20px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.shn, .shnd {
  padding: 1% 2%;
  h4 {
    font-size: $normalSize * 1.875;
    margin: 0;
  }
  p {
    padding: 1% 0;
  }
}

.shn {
  color: $white;
  .bSe & {
    h1, h2, h3, h4, h5, h6 {
      color: $white;
    }
  }
  .cnt & {
    p, a, ul, ol {
      color: $white;
    }
  }
  .cnt .darkSec &, .cnt .lightSec & {
    color: $white;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: $white;
    }
  }
}

.shnd {
  color: $textGray;
  .bSe & {
    h1, h2, h3, h4, h5, h6 {
      color: $textGray;
    }
  }
  .cnt & {
    p, a, ul, ol {
      color: $textGray;
    }
  }
  .cnt .darkSec &, .cnt .lightSec & {
    color: $textGray;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: $textGray;
    }
  }
}

@each $color in $color-pallete {
  .thrivecb.#{nth($color, 1)} {
    background-color: nth($color, 2);
    border: 1px solid nth($color, 3);
  }
}

.thrivecb {
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(#000, .15);
  margin-bottom: 1em;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  &.note {
    background: #fffcd5;
    border: 1px solid #e9e5b8;
  }
}

.thrivecb.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &.flh {
    position: relative;
    .shn-i {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
    }
  }
  .shn {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}

.sAs {
  .shortcode_tabs {
    .scT {
      margin: 20px;
      > ul {
        list-style-type: none;
        margin: 0 !important;
        padding: 0 !important;
        li {
          box-sizing: border-box;
          border-top-left-radius: 9px;
          -moz-border-radius-topleft: 9px;
          -webkit-border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          -moz-border-radius-topright: 9px;
          -webkit-border-top-right-radius: 9px;
          border: 1px solid #e8e8e8;
          cursor: pointer;
          display: block;
          font-family: Oxygen;
          float: left;
          font-size: $normalSize * 1.125;
          background: #f1f1f1;
          padding: 1%;
          text-align: center;
          &.tS {
            background: $main_color;
            border: 1px solid $main_color;
            a {
              color: $white;
            }
            &:hover {
              background: $main_color;
              border: 1px solid $main_color;
            }
          }
          &:hover {
            background: #e8e8e8;
            border: 1px solid #e8e8e8;
          }
          a {
            color: $main_color;
            text-decoration: none;
          }
        }
      }
      .scTC {
        box-sizing: border-box;
        border: 1px solid #E6E6E6;
        display: none;
        padding: 1%;
        width: 100%;
        > p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.fullWidth {
  .out {
    margin-left: -2500px;
    width: 6060px;
  }
}

.out {
  margin-left: -10px;
  margin-right: -10px;
  .pattern1, &.pattern3 {
    p {
      color: $white;
    }
  }
}

.pattern1 {
  background: url('../images/pattern1.jpg') repeat;
  p {
    color: $white;
  }
}

.pattern2 {
  background: url('../images/pattern2.jpg') repeat;
}

.pattern3 {
  background: #232323;
}

.in {
  margin: 0 auto;
  padding: 20px;
  &.pattern3 {
    p {
      color: $white;
    }
  }
}

.scvps {
  margin: 0 auto;
}

//.pus {
//  margin-top: -20px !important;
//}

.pswr + .wrp.cnt {
  .awr {
    padding: 0 !important;
  }
}

.nswr + .wrp.cnt {
  .awr {
    padding: 0 !important;
  }
}

.afim {
  max-width: 220px;
}

.cnt .lightSec, .lightSec {
  color: $white;
  p, ul, ol, div, span, h1, h2, h3, h4, h5, h6, a {
    color: $white;
  }
  .scbg {
    h4 {
      color: $white;
    }
  }
  a {
    text-decoration: underline;
  }
}

.cnt .darkSec, .darkSec {
  color: $gray;
  p, ul, ol, div, span, h1, h2, h3, h4, h5, h6, a {
    color: $gray;
  }
  .scbg {
    h4 {
      color: $gray;
    }
  }
  a {
    text-decoration: underline;
  }
}

.no-margin {
  margin-top: 0;
}

// facebook comments

#fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style], .fb-comments > span {
  width: 100% !important;
}

//page sections with image as background
.pdwbg {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.pddbg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pdfbg {
  &.smaller {
    background-size: 100% 100%;
  }
}

.lightSec {
  .pdwbg, .pddbg, .pdfbg {
    text-shadow: 1px 1px 2px $black;
  }
}

.fullWidth, .bpd {
  .pdwbg {
    width: 100%;
  }
}

//new shortcodes
.scon {
  margin-bottom: 20px;
  width: 100%;
  &.wide {
    width: 100%;
    &.o1 {
      .frm {
        input[type="text"], .op-r {
          width: 49.5%;
        }
        .btn {
          width: 49.5%;
        }
      }
    }
    &.o2 {
      .frm {
        input[type="text"], .op-r {
          width: 33%;
        }
        .btn {
          width: 32%;
        }
      }
    }
    &.o3 {
      .frm {
        input[type="text"], .op-r {
          width: 49.5%;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        .btn {
          width: 49.5%;
        }
      }
    }
    .frm {
      @include clearfix();
      input[type="text"], .btn, .op-r {
        float: left;
        margin-bottom: 7px;
      }
      input[type="text"],.op-r {
        margin-right: 1%;
      }
    }
  }
  .frm {
    input[type="text"] {
      border-radius: 20px;
      box-sizing: border-box;
      border: 1px solid #e3e3e3;
      color: $content_gray;
      font-size: $normalSize * 0.813;
      height: 44px;
      margin-bottom: 7px;
      padding: 0 7%;
      width: 100%;
    }
    input[type="text"]::-webkit-input-placeholder {
      color: $content_gray;
    }
    input[type="submit"] {
      background: none;
      border: 0;
      margin-bottom: 0;
      width: 100%;
    }
  }
  .btn {
    box-sizing: border-box;
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    width: 100%;
    input[type="submit"] {
      cursor: pointer;
      height: 46px;
      line-height: 46px;
      padding: 0;
      vertical-align: top;
    }
  }
}

.scfm {
  display: table;
  margin: 0 auto;
  .ss {
    position: relative;
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
    iframe {
      max-width: 1000px;
    }
    > a {
      //@include fontawesome();
      @include icomoon();
      border-radius: 50px;
      background: $main_color;
      color: $white;
      display: block;
      height: 40px;
      margin-left: 15px;
      margin-bottom: 10px;
      text-align: center;
      width: 40px;
      .cnt article & {
        text-decoration: none;
      }
      span {
        //@include fontawesome();
        @include icomoon();
        color: $white;
        display: block;
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
  .bubble {
    box-shadow: 1px 0px 4px 0px rgba(#587076, .3);
    border-radius: 2px;
    background: $white;
    border: 1px solid #b2c7cd;
    display: block;
    padding: 10px;
    position: relative;
    &:after {
      @include transform(skewX(39deg));
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 13px solid $white;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
    }
    &:before {
      @include transform(skewX(39deg));
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 15px solid #b2c7cd;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
    }
  }
  .bubb {
    display: block;
    min-width: 50px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 97%;
    left: -9000px;
    z-index: 4;
  }
}

.sctm {
  border-collapse: separate;
  color: #4b4b4b;
  line-height: $normalSize * 1.4;
  max-width: 800px;
  margin: 20px auto;
  .bSe & {
    width: 50%;
    tr {
      border: none;
    }
    td {
      background: transparent;
      padding: 0;
    }
  }
  .tst {
    font-style: italic;
    font-size: $normalSize;
    td {
      padding-bottom: 10px;
    }
  }
  .lts {
    height: 15px;
    td {
      border-top: 1px solid #6d6d6d;
      &.ltso {
        width: 32px;
      }
      &.ltst {
        border-top: none;
        width: 19px;
      }
    }
    span {
      background: url('../images/sprite-web.png') -50px -80px;
      display: block;
      float: left;
      height: 19px;
      width: 19px;
    }
  }
  .bts {
    vertical-align: top;
    td {
      vertical-align: middle;
      img {
        border: 1px solid #e0e0e0;
        height: 24px;
        width: 24px;
      }
    }
    span {
      margin: 0 0 0 5px;
    }
  }
}

.shn, .lightSec {
  .sctm {
    color: $white;
    text-shadow: 1px 1px 3px #1f1f1f;
  }
  //  .divi {
  //    border-bottom: 1px solid $white;
  //  }
}

.shnd, .darkSec {
  .sctm {
    color: #4b4b4b;
  }
  //  .divi {
  //    border-bottom: 1px solid #d5d5d5;
  //  }
}

.scbg {
  clear: both;
  .bth {
    text-align: center;
    width: 100%;
    tr {
      border: none;
      td {
        background: none !important;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        &.hsp {
          width: 30%;
          span {
            background: #bcbcbc;
            display: block;
            height: 1px;
            width: 100%;
          }
        }
        &.ahsp {
          min-width: 40%;
        }
      }
    }
    h3 {
      margin: 0;
    }
  }
  h4 {
    margin: 10px 0 10px 0;
  }
  .scc {
    @include bshadow();
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    background: $white;
    //min-height: 440px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    a {
      text-decoration: none;
    }
    h4, p {
      margin: 15px auto 0;
      width: 90%;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    h4 {
//      overflow: hidden;
      //text-overflow: ellipsis;
    //  white-space: nowrap;
      //height: 1.3em;
    }
    .mre {
      display: table;
      margin: 0 auto;
    }
  }
  .rimc {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    margin: 0 auto;
    position: relative;
    &:hover {
      &:after {
        @include icomoon();
        content: '\e606';
        color: $white;
        display: block;
        font-size: 72px;
        height: 72px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 72px;
        z-index: 3;
      }
      &:before {
        @include transition(all, .5s, linear);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: rgba($main_color, .4);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    }
    &.def {
      width: 200px;
      &:hover {
        &:after, &:before {
          display: none;
        }
      }
    }
  }
  .bgin {
    margin-top: 15px;
    margin-bottom: 0.8em;
//    height: 11.2em;
//    overflow: hidden;
  }
}

@media only screen and (min-width: 1080px) {
  .fullWidth, .bip, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 23.5%;
      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1080px) {
  .fullWidth, .bip, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 32%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}

//blog gallery in columns
@media only screen and (min-width: 940px) {
  .bSeCont, .bpd {
    .scc {
      margin-right: 2%;
      width: 49%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}


@media only screen and (min-width: 741px) and (max-width: 940px) {
  .fullWidth, .bpd, .bSeCont, .bip, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 49%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 741px) {
  .scc {
    float: none;
    height: 100%!important;
    margin: 10px auto;
    width: 67%;
  }
  .colm {
    .scc {
      float: none;
      margin: 10px auto;
      width: 80%;
    }
  }
}

.scvps {
  background-size: cover;
  background-position: center center;
  padding: 65px 0;
  position: relative;
  width: 100%;
  h2 {
    font-size: 85px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  h3, p {
    font-size: 32px;
  }
  .vdc {
    width: 100%;
    .ltx {
      margin: 0 auto;
      padding: 0 10px;
      text-align: center;
    }
    &.video-container {
      .wp-video {
        max-width: 1080px !important;
        min-width: 400px;
      }
      .vwr {
        position: absolute;
      }
      iframe, > div {
        box-shadow: 0px 0px 26px -3px $black;
      }
      iframe {
        max-width: 1080px !important;
        min-width: 400px;
      }
    }
    p {
      margin-bottom: 0;
    }
    &.lv {
      h2, h3, p {
        text-shadow: 1px 1px 3px #1f1f1f;
        color: $white;
      }
      .mejs-overlay-button {
        @include transition(all, 0.3s, ease);
        background-image: url('../images/lightPlay.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95%;
        cursor: pointer;
        display: block;
        height: 263px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.8;
        width: 260px;
        &:hover {
          background-size: 100%;
          opacity: 1;
        }
      }
      .pvb {
        background: url('../images/lightArrow.png') no-repeat right bottom;
        a {
          @include transition(all, 0.3s, ease);
          background-image: url('../images/lightPlay.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 95%;
          cursor: pointer;
          display: block;
          height: 263px;
          margin: 0 auto;
          opacity: 0.8;
          width: 260px;
          &:hover {
            background-size: 100%;
            opacity: 1;
          }
        }
      }
    }
    &.dv {
      h2, h3, p {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        color: #282828;
      }
      .mejs-overlay-button {
        @include transition(all, 0.3s, ease);
        background-image: url('../images/darkPlay.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95%;
        cursor: pointer;
        display: block;
        height: 263px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.8;
        width: 260px;
        &:hover {
          background-size: 100%;
          opacity: 1;
        }
      }
      .pvb {
        background: url('../images/darkArrow.png') no-repeat right bottom;
        a {
          @include transition(all, 0.3s, ease);
          background-image: url('../images/darkPlay.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 95%;
          cursor: pointer;
          display: block;
          height: 263px;
          margin: 0 auto;
          opacity: 0.8;
          width: 260px;
          &:hover {
            background-size: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
  .pvb {
    cursor: pointer;
    display: block;
    height: 299px;
    margin: 0 auto;
    width: 426px;
  }
}

.top {
  margin-top: -20px;
}

.bottom {
  margin-bottom: -85px;
}

.tmg {
  margin-top: 20px;
}

.bmg {
  margin-bottom: 20px;
}

.dmg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bcs {
  max-width: 100%;
  &.left {
    margin-right: 5px;
  }
  &.ced {
    margin: 0 auto;
  }
  &.right {
    margin-left: 5px;
  }
  > p > iframe, > p > div {
    max-width: 100%;
    margin: 0 auto;
    padding: 1px;
  }
  &:before {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.ssf {
  display: none;
  padding: 15px 0 5px 0;
  opacity: 0.8;
  width: 72px;
  z-index: 100;
  &:hover {
    opacity: 1;
  }
  &.apss {
    position: absolute;
    bottom: 0;
    top: auto;
  }
  &.fpss {
    position: fixed;
    top: 200px;
    bottom: auto;
    right: auto;
  }
  &.apsf {
    display: block;
    position: absolute;
    top: 100px;
    .fullWidth &, .bpd & {
      left: -97px;
    }
    .bSe.left & {
      left: -97px;
    }
    .bSe.right & {
      right: -97px;
    }
  }
  .scfm {
    display: block;
    .ss {
      margin: 0 auto 10px auto;
      width: 60px;
    }
    .ss > a {
      background: #b1b1b1;
      display: inline-table;
      height: 60px;
      min-height: 60px;
      width: 60px;
      min-width: 60px;
      span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
      &:hover {
        background: #424242;
      }
    }
  }
  .ss {
    margin-left: 0;
    > a {
      margin-left: 0;
      .awe {
        font-size: 32px;
        line-height: 47px;
      }
    }
  }
  .cou {
    color: #424242;
    display: block;
    font-size: 12px;
    margin: 0 auto 10px auto;
    text-align: center;
    word-wrap: break-word;
    width: 70px;
    > b {
      color: #424242;
      font-family: Georgia;
      font-size: 36px;
      line-height: 36px;
      &.tt-share-long {
        font-size: 20px;
      }
    }
  }
}

.wp-caption, .wp-caption-text {
  max-width: 100%;
}

//gallery
.galleryOverlay {
  @include transition(opacity, 0.5s, ease);
  background: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  &.g-v {
    opacity: 1;
  }
  .galleryStage {
    @include transition(left, 0.3s, ease);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    width: 100%;
    -ms-touch-action: none;
    touch-action: none;
    &.g-n-a {
      @include transition(none, 0s, ease);
    }
  }
  .galleryWrapper {
    display: inline-block;
    height: 100%;
    line-height: 1px;
    text-align: center;
    width: 100%;
    &:before {
      content: '';
      display: inline-block;
      height: 50%;
      margin-right: -1px;
      width: 1px;
    }
    img {
      box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .g_count {
    color: $white;
    display: block;
    height: 37px;
    line-height: 37px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;

    .gl_ctrl_wrp {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      background: $black;
      padding: 0 15px;
      display: table;
      margin: 0 auto;
    }
    .img_count, .cap_txt {
      font-size: 14px;
    }
    .mob_text {
      display: none;
    }
  }
  .gl_ctrl {
    @include transition(all, 0.5s, ease);
    z-index: 1003;
    &:hover {
      opacity: 0.5;
    }
  }
  .nav_next, .nav_prev {
    background: url('../images/sprite-web.png') no-repeat $black;
    display: block;
    height: 97px;
    margin-top: -48px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    text-decoration: none;
    text-align: center;
    width: 58px;
  }
  .nav_next {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-position: -118px -38px;
    right: 0;
  }
  .nav_prev {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-position: -71px -38px;
    left: 0;
  }
  .nav_close {
    @include transition(opacity, 0.5s, ease);
    border-radius: 5px;
    background: $black;
    height: 32px;
    line-height: 32px;
    opacity: 0.4;
    position: absolute;
    top: -16px;
    right: -16px;
    text-decoration: none;
    width: 32px;
    text-align: center;
    &:hover {
      opacity: 0.5;
    }
    &.nav_close_cnt {
      top: 0;
      right: 0;
    }
    &:before {
      //todo
      @include icomoon();
      content: '\f00d';
      //content: '\f00d';
      color: $white;
      font-size: 20px;
      opacity: 1;
    }
  }
}

.gallery {
  &.gallery-columns-1 {
    display: table;
  }
  &.no-gallery {
    dt {
      a {
        &:after, &:before {
          display: none;
        }
      }
    }
  }
  dl {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px;
    text-align: left !important;
    dt {
      @include transition(all, 0.5s, linear);
      cursor: pointer;
      display: block;
      position: relative;
    }
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  br {
    display: none;
  }
  &[id*='gallery-'] img {
    border: none !important;
  }
  dt {
    a {
      @include transition(all, 0.5s, linear);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      max-height: 450px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 13px;
      text-decoration: none;
      position: relative;
      &:after {
        @include transition(all, 0.5s, linear);
        background: transparent;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        content: '';
        height: 100%;
        margin: auto;
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
      }
      &:hover {
        @include transition(all, 0.5s, linear);
        &:before {
          @include icomoon();
          //todo
          content: '\e610';
          //          content: '\f00e';
          color: $white;
          cursor: pointer;
          font-size: 35px;
          height: 35px;
          margin: auto;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          opacity: 0.8;
          width: 35px;
          z-index: 1;
        }
        &:after {
          @include transition(all, 0.5s, linear);
          background: rgba(0, 0, 0, 0.55);
          content: '';
          height: 100%;
          margin: auto;
          position: absolute;
          bottom: 0px;
          top: 0px;
          left: 0px;
          right: 0px;
          width: 100%;
          z-index: 0;
        }
      }
    }
  }
}

@include setGalleryWidths(1000px, fullWidth, 1, 9, false);
@include setGalleryWidths(1000px, tve_post_lp, 1, 9, false);
@include setGalleryWidths(800px, bpd, 1, 9, false);
@include setGalleryWidths(650px, bSeCont, 1, 9, false);

.rve {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  &.noc {
    padding-top: 12px;
  }
  &.vim {
    padding-top: 8px;
  }
}

.brve {
  display: block;
  position: relative;
  padding-bottom: 55%;
  padding-top: 28px;
  height: 0;
  overflow: hidden;
  &.bnoc {
    padding-top: 19px;
  }
  &.vim {
    padding-top: 32px;
  }
}

.rve, .brve {
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.vim {
  iframe, object, embed {
    top: -15px;
  }
}

.bSe iframe {
  max-width: 100%;
}

//feature grid
.gr {
  margin-bottom: 20px;
  img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
  }
  .gri {
    margin-right: 5%;
  }
  h4 {
    margin-top: 0px;
    word-wrap: break-word;
  }
  &.gr1 {
    .gri {
      width: 12%;
    }
    .grt {
      width: 83%;
    }
  }
  &.gr2 {
    .gri {
      width: 24%;
    }
    .grt {
      width: 71%;
    }
  }
  &.gr3 {
    .gri {
      width: 36%;
    }
    .grt {
      width: 59%;
    }
  }
}

.gr {
  @media only screen and (max-width: 600px) {
    .colm {
      width: 100%;
    }
  }
  @media only screen and (max-width: 772px) {
    .gri, .grt {
      text-align: center;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0px !important;
  }
  &.gr1, &.gr2, &.gr3 {
    .oth {
      @media only screen and (max-width: 940px) {
        .gri, .grt {
          margin-right: 0;
          width: 100%;
          img {
            display: table;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &.gr1 {
    .gri {
      margin-right: 2%;
      width: 12%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 772px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 86%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
    }
  }
  &.gr2 {
    .gri {
      margin-right: 2%;
      width: 24%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 772px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 74%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
    }
  }
  &.gr3 {
    .gri {
      margin-right: 2%;
      width: 36%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 768px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 62%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

//extended menus
.has-heading {
  .colch {
    color: #5d5d5d;
    font-size: 1em;
    line-height: $normalSize * 3;
    font-weight: 400;
    margin: 0;
    padding: 0px;
    text-align: left;
    word-wrap: break-word;
  }
}

.has-heading {
  .colch {
    border-bottom: 1px solid #dcdcdc;
    color: #5d5d5d;
    font-size: 17px !important;
    font-weight: 700;
    line-height: $normalSize;
    margin: 0;
    padding: 13px 0;
    text-align: left;
    word-wrap: break-word;
  }
}

.has-free {
  color: #5d5d5d;
  font-size: 0.765em;
  a {
    font-size: 1em !important;
    text-decoration: underline;
  }
}

.has-extended img {
  &.alignleft, &.alignright, &.alignnone {
    margin: 0 !important;
  }
  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  nav {
    > ul > li.menu-item-has-children > ul > li:first-child:before {
      border: 0 none;
      content: "";
      display: none;
    }
    li.has-extended {
      ul {
        //        position: fixed;
        position: absolute;
        left: auto;
        right: auto;
        top: auto;
        &.position_right {
          position: absolute;
          right: -33px;
        }
        &.position_left {
          position: absolute;
          left: -33px;
        }
      }
      > ul.sub-menu {
        box-shadow: 0 4px 11px -9px #000000;
        border-radius: 3px;
        background: #e9e9e9;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #dcdcdc;
        border-top: 2px solid $main_color;
        overflow: hidden;
        li.menu-item {
          display: block;
          position: static;
          &:first-child {
            border-top: 0 none;
          }
          a[href] {
            &:hover {
              color: #1a1a1a;
              background: #f6f6f6;
            }
          }
          > a {
            @include transition(all, 0.2s, linear);
            border-top: 1px solid #DCDCDC;
            color: #5d5d5d;
            font-size: 0.765em;
            min-height: 38px;
            line-height: 38px;
            padding: 0px 0px 0px 8%;
            width: 92%;
            word-wrap: break-word;
          }
        }
        > li {
          float: left;
          width: 50%;
          ul.sub-menu {
            box-shadow: none;
            border: 0 none;
            display: block !important;
            position: static;
            opacity: 1 !important;
            li {
              width: 100%;
            }
          }
        }
      }
      ul li {
        border: 0 none;
        ul li:first-child {
          border: 0 none;
        }
      }

    }
  }
}

header nav ul li.has-extended {
  color: #5d5d5d;
  font-size: 1.067em;
  > ul {
    background: none;
    left: auto;
    margin-left: 0;
    //    top: 30px;
  }
  ul li > ul {
    background: none;
    margin-left: 0;
    li {
      color: #5d5d5d;
    }
  }
}

header.hbp {
  background-size: auto;
}

header.hif {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.hic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  &:before {
    display: none;
  }
  #floating_menu & {
    padding: 0;
  }
  .tt-dmy {
    display: block;
    position: relative;
    z-index: 0;
  }
  #head_wrp {
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
  }
}

.has-free {
  a {
    background: none;
    border: 0 !important;
    display: inline;
    padding: 0 !important;
    &:hover {
      background: none !important;
      color: $main_color !important;
    }
  }
}

header nav {
  li.col-no-4 {
    position: static;
    > ul.sub-menu, ul.sub-menu.position_menu {
      left: 0;
      right: 0;
      margin: auto;
      //      position: fixed;
      position: absolute;
      ul.submenu li {
        padding-right: 0;
      }
    }
    @media only screen and (min-width: 1080px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 1055px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 23%;
            &:nth-of-type(4n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 940px) and (max-width: 1079px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 770px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 31%;
            &:nth-of-type(3n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 840px) and (max-width: 939px) {
      &.has-extended {
        position: relative;
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 520px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 48%;
            &:nth-of-type(2n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 772px) and (max-width: 839px) {
      &.has-extended {
        position: relative;
        > ul.sub-menu, > ul.sub-menu.position_menu {
          width: 260px;
        }
        ul {
          li {
            clear: both;
            padding: 0px 1%;
            width: 98%;
          }
        }
      }
    }
    @media only screen and (min-width: 740px) and (max-width: 772px) {
      &.has-extended.menu-item-has-children > ul.sub-menu {
        box-shadow: none;
        position: static;
        width: 100%;
      }
    }
  }
}

header nav {
  li.col-no-3 {
    > ul.sub-menu {
      width: 770px;
    }
    @media only screen and (min-width: 1080px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 770px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 31%;
            &:nth-of-type(3n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 840px) and (max-width: 1079px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 520px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 48%;
            &:nth-of-type(2n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 740px) and (max-width: 839px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 260px;
        }
        ul {
          li {
            clear: both;
            padding: 0px 1%;
            width: 98%;
          }
        }
      }
    }
  }
}

header {
  nav {
    li.col-no-2 {
      > ul.sub-menu {
        width: 520px;
      }
      @media only screen and (min-width: 740px) {
        &.has-extended {
          ul {
            li {
              padding: 0px 1%;
              width: 48%;
              &:nth-of-type(2n + 1 ) {
                clear: left;
              }
            }
          }
        }
      }
      @media only screen and (min-width: 740px) and (max-width: 839px) {
        &.has-extended {
          > ul.sub-menu, ul.sub-menu.position_menu {
            width: 260px;
          }
          ul {
            li {
              clear: both;
              padding: 0px 1%;
              width: 98%;
            }
          }
        }
      }
    }
  }
}

header nav {
  li.col-no-1 {
    ul.sub-menu {
      float: none;
      width: 260px;
      li {
        float: none;
        width: 100%;
        ul {
          box-sizing: border-box;
          padding: 0% 5%;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1350px) {
  header {
    nav {
      li.has-extended.col-no-3 {
        position: static;
        > ul.sub-menu {
          margin: auto;
          //          position: fixed;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) and (min-width: 740px) {
  header {
    nav {
      li.has-extended, li.has-extended.col-no-4 {
        > ul.sub-menu {
          position: absolute;
          left: auto;
          right: 0px;
          &.position_left {
            left: -33px;
            right: auto;
          }
          &.position_right {
            right: -33px;
            left: auto;
          }
        }
        &:first-of-type {
          > ul.sub-menu {
            &.position_left {
              left: 0px;
              right: auto;
            }
          }
        }
      }
    }
  }
}

header {
  &.hif, &.hic {
    width: 100%;
  }
}

@each $color in $color-pallete {
  .nsd.#{nth($color, 1)} {
    .fill-counter-inner {
      stroke: nth($color, 5);
    }
    .pbf {
      background: nth($color, 2);
    }
    &.nbc {
      .nbcnb, .nbcn, .nbcna {
        color: nth($color, 2);
      }
    }
    .cdtc {
      border-bottom: 2px solid nth($color, 2);
    }
    .cdtl {
      color: nth($color, 2);
    }
  }
  .drp1.#{nth($color, 1)} {
    &::first-letter {
      color: nth($color, 2);
    }
  }
  .drp2.#{nth($color, 1)} {
    &::first-letter {
      background: nth($color, 2);
      border: 1px solid darken(nth($color, 2), 20%);
    }
  }
}

.nsda {
  position: relative;
}
@keyframes fill-counter-svg {
  from {
    stroke-dasharray: 0 566;
  }
}
.fill-counter {
  .fill-counter-inner {
    display: table;
    margin: 20px auto;
    position: relative;
  }
  .fill-counter-circle {
    @include transform(rotate(-90deg));
    background: transparent;
    border-radius: 50%;
    height: 180px;
    stroke-dasharray: inherit;
    width: 180px;
    circle {
      @include transition(stroke-dasharray 2s linear);
      fill: none;
      stroke-width: 18;
      stroke-dasharray: 0 566;
    }
  }
}
.fill-counter.nsds .fill-counter-inner circle {
  animation: fill-counter-svg 2s linear;
  stroke-dasharray: inherit;
}
.fill-counter-text {
  border-radius: 50%;
  background: #fbfbfb;
  color: #323232;
  height: 114px;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Oxygen';
  line-height: 60px;
  padding-top: 50px;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  text-align: center;
  width: 164px;
}
.fill-counter-label {
  color: #706f6f;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

.accs {
  margin-bottom: 20px;
  .accss {
    border: 1px solid #dadada;
    margin-bottom: 2px;
    padding: 0px 10px 2px 20px;
    &.opac {
      .acc-h {
        span {
          &:before {
            //todo
            //content: '\f068';
            content: '\e604';
          }
        }
      }
      .accsi {
        display: block;
      }
    }
    .acc-h {
      cursor: pointer;
      color: $main_color;
      font-size: $normalSize * .941;
      line-height: 29px;
      margin: 0px;
      padding: 5px 5px 5px 30px;
      position: relative;
      span {
        display: block;
        &:before {
          // @include fontawesome();
          @include icomoon();
          border-radius: 50%;
          border: 1px solid #e5e5e5;
          //todo
          // content: '\f067';
          content: '\e605';
          color: $main_color;
          display: inline-block;
          font-size: 13px;
          height: 22px;
          line-height: 22px;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: -5px;
          text-align: center;
          width: 22px;
        }
      }
    }
    .accsi {
      display: none;
      p {
        margin: 10px 0px 20px 30px;
      }
    }
    &:hover {
      border: 1px solid #acacac;
    }
  }
}

.divi {
  border-bottom: 2px solid #e4e4e4;
  clear: both;
  display: block;
  margin-bottom: 10px;
  position: relative;
  &.sdivi {
  }
  &.ldivi {
    margin-left: 0;
    margin-right: auto;
    min-width: 280px;
    width: 32%;
    &:before {
      background: #acacac;
      content: '';
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      top: -2px;
      width: 100px;
    }
  }
  &.cdivi {
    display: table;
    margin: 20px auto;
    min-width: 315px;
    width: 32%;
    &:before {
      background: #acacac;
      content: '';
      display: block;
      height: 5px;
      left: 34%;
      position: absolute;
      top: -2px;
      width: 100px;
    }
  }
  &.rdivi {
    margin-left: auto;
    margin-right: 0;
    min-width: 315px;
    width: 32%;
    &:after {
      background: #acacac;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      top: -2px;
      right: 0;
      width: 100px;
    }
  }
  .bSeCont & {
    &.ddivi {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .fullWidth & {
    &.sdivi {
      margin-left: -3000px;
      width: 6000px;
    }
  }
  .bpd & {
    &.sdivi {
      margin-left: -3000px;
      width: 6000px;
    }
  }
}

.defhgh {
  background-color: $main_color;
}

.lhgh {
  color: $white !important;
}

.dhgh {
  color: $content_gray !important;
}

.drp1 {
  &::first-letter {
    display: block;
    font-size: 36px;
    float: left;
    line-height: 36px;
    margin-right: 5px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.drp2 {
  &::first-letter {
    border-radius: 6px;
    color: $white;
    display: block;
    font-size: 36px;
    line-height: 36px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 7px 6px 9px;
    text-transform: uppercase;
  }
}

.drp2.light {
  &::first-letter {
    color: #353535;
  }
}

.shortcode_tabs {
  margin-bottom: 20px;
  &.horz_tabs {
    .scT {
      > ul.scT-tab {
        list-style-type: none;
        list-style-image: none;
        margin-bottom: 0px;
        padding: 0px 6px;
        li {
          box-sizing: border-box;
          border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          border: 1px solid #e8e8e8;
          background: #f1f1f1;
          cursor: pointer;
          float: left;
          text-align: center;
          padding: 15px 0px 12px 0px;
          a {
            font-size: $normalSize * 1.125;
            font-family: 'Oxygen';
            text-decoration: none;
          }
          &:hover {
            background: #e8e8e8;
          }
          &.tS {
            background: $main_color;
            border: 1px solid $main_color;
            a {
              color: $white;
            }
          }
        }
      }
    }
    .scTC {
      border: 1px solid #e8e8e8;
      background: #fbfbfb;
      padding: 20px 15px;
    }
  }
  &.vert_tabs {
    .scT {
      @include clearfix;
      width: 100%;
      > ul.scT-tab {
        display: block;
        float: left;
        position: relative;
        vertical-align: top;
        z-index: 1;
        width: 16%;
      }
    }
    .scT {
      > ul.scT-tab {
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 8px;
        padding: 0px;
        li {
          border-top-left-radius: 9px;
          border-bottom-left-radius: 9px;
          border: 1px solid #e8e8e8;
          background: #f7f7f7;
          color: #353535;
          display: block;
          &:hover {
            background: #e4e4e4;
          }
          &.tS {
            border: 1px solid $main_color;
            background: $main_color;
            a {
              color: $white;
            }
          }
          &:hover {
            cursor: pointer;
            a {
              cursor: pointer;
            }
          }
          a {
            color: #706f6f;
            cursor: default;
            display: block;
            font-size: $normalSize * 1.125;
            line-height: $normalSize;
            font-family: 'Oxygen';
            text-decoration: none;
            padding: 17px;
          }
        }
      }
    }
    .scTC {
      border: 1px solid #e8e8e8;
      background: #fbfbfb;
      display: block;
      float: left;
      margin-left: -1px;
      position: relative;
      vertical-align: top;
      padding: 10px 20px 20px 20px;
      width: 78%;
      z-index: 0;
    }
  }
}

.faqI {
  border-radius: 9px;
  box-shadow: 2px 2px 2px 0px rgba($black, .05);
  border: 1px solid #dbdbdb;
  margin-top: 15px;
  &:hover {
    background: #f7f7f7;
  }
}

.faq {
  .faqC {
    display: none;
    margin-bottom: 20px;
    padding: 5px 10px 0px 10px;
    p {
      color: #706f6f;
      font-size: $normalSize;
      line-height: 23px;
      margin-bottom: 10px;
      padding: 0px 10px;
    }
  }
  h4 {
    cursor: pointer;
    color: #353535;
    font-size: $normalSize * 1.25;
    font-weight: 700;
    margin: 0;
    padding: 10px 10px 10px 40px;
    position: relative;
    &:hover {
      color: $main_color;
    }
    &.oFaq {
      color: $lightGray;
      span {
        &:before {
          border: 1px solid #e5e5e5;
          border-radius: 50%;
          //todo
          //content: '\f067';
          content: '\e605';
          color: #353535;
          display: inline-block;
          font-size: $normalSize * 0.500;
        }
      }
    }
    span {
      display: inline-block;
      margin-right: 10px;
      &:before {
        @include icomoon();
        border: 1px solid #e5e5e5;
        border-radius: 50%;
        //todo
        // content: '\f068';
        content: '\e604';
        color: #353535;
        display: inline-block;
        font-size: $normalSize * 0.500;
        height: 22px;
        line-height: 22px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        text-align: center;
        width: 22px;
      }
    }
  }
}

.nsd {
  margin: 20px 0px;
  &.nsds {
    .pbf {
      @include animation-play-state(running);
    }
  }
  .pbf {
    @include animation-play-state(paused);
  }
}

.pbb {
  border-radius: 5px;
  background: #e4e4e4;
  display: block;
  height: 30px;
  margin: 7px 0px;
  position: relative;
  overflow: hidden;
  .pbf {
    @include animation-duration(2s);
    @include animation-timing-function(linear);
    @include animation-name(progress-bar);
    border-radius: 5px;
    height: 30px;
  }
}

.pbbl {
  color: $white;
  display: block;
  font-size: $normalSize;
  font-weight: 300;
  line-height: 30px;
  margin-left: 10px;
  position: absolute;
  z-index: 0;
}

.nsd.light {
  .pbbl {
    color: #353535;
  }
}

.pbfc {
  box-sizing: border-box;
  overflow: hidden;
}

.nsd {
  &.nsds {
    .fcf {
      @include animation-play-state(running);
    }
  }
  .fcf {
    @include animation-play-state(paused);
  }
}

.wp-caption-text {
  font-size: 13px;
  color: #353535;
  text-align: center;
  width: inherit;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption {
  img {
    box-sizing: border-box;
    display: block;

  }
  .wp-caption-text {
    font-style: italic;
    margin-bottom: 0px;
    padding-top: 10px;
  }
  &.circle-image {
    img {
      border-radius: 50%;
      display: table;
      margin: 0 auto;
      width: 50%;
    }
  }
  &.rounded-image {
    img {
      border-radius: 5px;
      display: table;
      margin: 0 auto;
    }
  }
  &.framed-image {
    box-shadow: 2px 0 4px 0px rgba($black, .10);
    border: 1px solid #dadada;
    background: $white;
    padding: 10px;
  }
  &.lifted-image {
    img {
      box-shadow: 2px 0px 5px 0px rgba($black, .40);
      display: table;
      margin: 0 auto;
    }
  }
  /*&.alignnone{
    &.framed-image{
      img{
        @include box-shadow(3px 0px 7px 0px rgba($black, .11));
        background: $white;
        display: table;
        margin: 0 auto;
        width: 50%;
        padding: 20px;
      }
    }
  }*/
}

img {
  box-sizing: border-box;
  //  &.size-full {
  //    margin: 0;
  //  }
  &.circle-image {
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    width: 50%;
  }
  &.rounded-image {
    border-radius: 9px;
  }
  &.framed-image {
    box-shadow: 2px 0 4px 0px rgba($black, .10);
    border: 1px solid #dadada;
    background: $white;
    display: table;
    margin: 0 auto;
    padding: 10px;
  }
  &.lifted-image {
    box-shadow: 2px 0px 5px 0px rgba($black, .40);
    display: block;
  }
}

.nbc {
  position: relative;
  text-align: center;
  .nbcnb {
    font-weight: 300;
    font-size: 50px;
    font-family: 'Oxygen';
  }
  .nbcn {
    font-weight: 300;
    font-size: 50px;
    font-family: 'Oxygen';
  }
  .nbcna {
    font-weight: 300;
    font-size: 50px;
    font-family: 'Oxygen';
  }
  .nbcl {
    color: #706f6f;
    display: block;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    padding: 0px 20px;
  }
}

.fhd {
  border-bottom: 2px solid #e4e4e4;
  display: table;
  margin: 20px 0px;
  overflow: hidden;
  width: 100%;
  .fhdt {
    color: #323232;
    font-size: $normalSize * 1.875;
    margin: 0;
    white-space: nowrap;
  }
  .fhdt {
    padding: 0px;
  }
  &.lfhd {
    .fhdt {
      text-align: left;
    }
  }
  &.rfhd {
    .fhdt {
      text-align: right;
    }
  }
  &.cfhd {
    .fhdt {
      text-align: center;
    }
  }
}

.bp-t {
  //  display: -webkit-box;
  //  display: -moz-box;
  //  display: -ms-flexbox;
  //  display: -webkit-flex;
  //  display: flex;
  //  -ms-flex-direction: row;
  //  -ms-flex-align: center;
  //  -webkit-box-align: center;
  //  align-items: center;
  background: #fff !important;
  height: 100%;
  min-height: 100%;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
  }
  .wrp {
    background: $white;
    display: inline-block;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    p {
      margin-bottom: 20px;
    }
  }
}

.faqI h4,
.txt_thrive_link_to_comments,
#thrive_container_list_comments .reply,
#thrive_container_list_comments .cancel_reply,
.gallery-item a,
.gallery a.nav_prev,
.gallery a.nav_next,
.gallery .nav_close,
.galleryStage {
  cursor: pointer;
}
.wistia-video-container {
  .vdc {
    .ltx {
      display: none;
    }
    &.video-container {
      display: block !important;
      .vwr {
        box-shadow: none;
        max-width: 1080px;
        margin: 0 auto;
        position: static;
        iframe {
          box-shadow: none;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 450px) {
  .cnt .awr {
    padding-left: 0;
    padding-right: 0;
  }
}

/*shortcodes*/
@import "_new_shortcodes.scss";
@import "responsive.scss";
