@import "bourbon";
// Fonts
@import url('//fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,300,600,700');

@font-face {
  font-family: 'star';
  src: url('../fonts/star.eot');
  src: url('../fonts/star.eot?#iefix') format('embedded-opentype'),
  url('../fonts/star.woff') format('woff'),
  url('../fonts/star.ttf') format('truetype'),
  url('../fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WooCommerce';
  src: url('../fonts/WooCommerce.eot');
  src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WooCommerce.woff') format('woff'),
  url('../fonts/WooCommerce.ttf') format('truetype'),
  url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tve-woocommerce {
  // helpers
  .clearfix-woo:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  .clearfix-woo {
    display: inline-block;
  }

  html[xmlns] .clearfix-woo {
    display: block;
  }

  * html .clearfix-woo {
    height: 1%;
  }
  // Button style
  .tve-woo-btn {
    background-color: #fff;
    border: 2px solid #387fc8;
    border-radius: 5px;
    color: #387fc8;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 12px;
    padding: 12px 16px;
    text-align: center;
    &:hover {
      background-color: #387fc8;
      color: #fff;
    }
  }
  .tve-woo-btn-green {
    border: 2px solid #8fca6f;
    color: #8fca6f;
    &:hover {
      background-color: #8fca6f;
      color: #fff;
    }
  }
  // killing strong tag
  .woocommerce strong {
    font-weight: 400;
  }
  // Tables
  .bSe table tr {
    border: none;
  }
  .bSe .awr .woocommerce table.shop_table,
  table.shop_attributes,
  .cart_totals table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
      padding: 18px;
      line-height: 1.42857143;
      vertical-align: top;
      border: 1px solid #ececec;
    }
    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ececec;
      color: #424242;
      font-size: 17px;
      font-weight: 400;
    }
    > tbody,
    > tfoot {
      th, td {
        color: #424242;
        font-size: 17px !important;
      }
    }
    > caption + thead > tr:first-child > th,
    > colgroup + thead > tr:first-child > th,
    > thead:first-child > tr:first-child > th,
    > caption + thead > tr:first-child > td,
    > colgroup + thead > tr:first-child > td,
    > thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    > tbody + tbody {
      border-top: 2px solid #ececec;
    }
  }

  // woocommmerce cols
  .col2-set {
    @extend .clearfix-woo;
    width: 100%;
    .col-1 {
      float: left;
      width: 48%;
    }
    .col-2 {
      float: right;
      width: 48%;
    }
  }
  //<header>,h2,h3
  .cnt {
    p {
      color: #5a5a5a;
      font-size: 17px;
    }
  }

  .woocommerce {
    h2, h3 {
      color: #5a5a5a; // required
      font-size: 24px;
      font-weight: 600;
    }
    p {
      color: #5a5a5a;
      font-size: 17px;
    }
    .button {
      @extend .tve-woo-btn;
    }
    a {
      color: #387fc8; // required
      text-decoration: none; // required
    }
    header {
      background: transparent;
      box-shadow: none;
      padding: 0;
      text-align: left;
      border: none;
      h2, h3 {
        color: #5a5a5a;
        font-size: 24px;
        font-weight: 600;
      }
      &:before {
        content: initial;
      }
    }
  }

  //forms
  .tve-woo-input,
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  select,
  textarea {
    box-sizing: border-box;
    border: 1px solid #ececec;
    color: #5a5a5a;
    font-size: 17px;
    height: 36px;
    padding: 0 15px;
    &::-webkit-input-placeholder {
      color: #ececec;
    }
    &:-ms-input-placeholder {
      color: #ececec;
    }
    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
  }
  // select with search
  .select2-drop-active,
  .select2-container-active .select2-choice,
  .select2-container-active .select2-choices,
  .select2-drop.select2-drop-above.select2-drop-active,
  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices {
    border-color: #ececec;
  }
  .select2-container {
    a.select2-choice {
      color: #424242;
    }
    .select2-choice {
      border-radius: 0;
      padding: 6px 15px;
    }
  }
  textarea {
    resize: none;
  }

  // entry-title
  .bSe .awr .entry-title,
  .bSe .awr .page-title {
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
  }

  // adding default font
  .bSe {
    .product,
    .products,
    .woocommerce-ordering select,
    button, input, select, .woocommerce-error, .woocommerce-info, .woocommerce-message, table, legend, .payment_methods {
      font-family: 'Open Sans', sans-serif;
    }
  }

  // Product quantity buttons
  .quantity {
    input[type="number"].input-text.qty.text {
      border: 1px solid #ececec;
      color: #5a5a5a;
      float: left;
      font-size: 19px;
      font-weight: 600;
      height: 40px;
      padding: 0;
      text-align: center;
      width: 50px;
    }
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  .cnt {
    p.woocommerce-result-count {
      color: #858585ice;
      float: left;
      font-size: 15px;
      margin-top: 6px;
    }
  }

  form.woocommerce-ordering {
    float: right;
    select.orderby {
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      color: #858585;
      font-size: 15px;
      padding: 6px 6px;
    }
    @extend .clearfix-woo;
  }
  @media(max-width: 540px) {
    form.woocommerce-ordering {
      width: 100%;
      select {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .cnt {
    ul.products {
      &:before {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      @media(min-width: 741px) and (max-width: 940px) {
        li {
          width: 49%;
          margin-right: 2%;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
      @media(max-width: 741px) {
        li {
          width: 100%;
        }
      }
      @media(min-width: 940px) {
        li {
          width: 32%;
          margin-right: 2%;
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
      li {
        border: 1px solid #d3d3d3;
        float: left;
        margin-bottom: 23px;
        padding-bottom: 20px;
        box-sizing: border-box;
        text-align: center;
        img {
          margin-bottom: 6px;
          width: 100%;
        }
        &.product-hover {
          position: relative;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
            background-color: rgba(255, 255, 255, 0.3);
            content: "";
            z-index: 1;
          }
        }
        .tve-product-details-btn {
          background-color: rgba(255, 255, 255, 0.4);
          color: #4b4b4b;
          border: 2px solid #4b4b4b;
          left: 50%;
          margin-left: -78.5px;
          position: absolute;
          top: 120px;
          border-radius: 5px;
          cursor: pointer;
          display: inline-block;
          font-size: 17px;
          line-height: 12px;
          padding: 12px 16px;
          z-index: 9;
          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
          }
        }
        .onsale {
          background-color: #eb6a32;
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          left: -5px;
          line-height: 15px;
          padding: 7px 22px;
          position: absolute;
          text-transform: uppercase;
          top: -4px;
          z-index: 2;
        }
        a {
          color: inherit;
          text-decoration: none;
          &.add_to_cart_button, &.product_type_grouped {
            z-index: 9;
            position: relative;
          }
          &.added_to_cart {
            @extend .tve-woo-btn;
            @extend .tve-woo-btn-green;
            z-index: 9;
            position: relative;
            &:after {
              line-height: 10px;
            }
          }
        }
        h3 {
          color: #5a5a5a;
          font-size: 19px;
          margin: 0;
          margin-bottom: 13px;
        }

        span.price {
          display: block;
          font-size: 17px;
          line-height: 17px;
          margin-bottom: 20px;
          .amount {
            color: #858585;
          }
          del {
            color: #bcbcbc;
            .amount {
              color: #bcbcbc;
            }
          }
          ins {
            background-color: #fff;
            .amount {
              background-color: #fff;
              color: #858585;
              font-weight: 600;
            }
          }
        }
        .add_to_cart_button, .button.product_type_external {
          @extend .tve-woo-btn;
          position: relative;
          z-index: 9;
          &.loading {
            text-indent: -9999px;
            @-moz-keyframes loading {
              to {
                transform: rotate(360deg);
              }
            }
            @-webkit-keyframes loading {
              to {
                transform: rotate(360deg);
              }
            }
            @-o-keyframes loading {
              to {
                transform: rotate(360deg);
              }
            }
            @keyframes loading {
              to {
                transform: rotate(360deg);
              }
            }
            &:after {
              animation: loading 1s ease infinite;
              -webkit-animation: loading 1s ease infinite;
              border-radius: 100%;
              border-right: 2px solid #387fc8;
              content: "";
              display: inline-block;
              height: 11px;
              width: 11px;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -5.5px;
              margin-left: -5.5px;
            }
          }
          &:hover {
            &.loading {
              &:after {
                border-color: #fff;
              }
            }
          }
        }

      }
      @extend .clearfix-woo;
    }
    // If sidebar
    .bSeCont {
      ul.products {
        li {
          .added_to_cart,
          .add_to_cart_button {
            padding: 12px 8px;
          }
        }
      }
    }
  }

  // Star rating
  .star-rating {
    font-family: 'star';
    font-size: 15px;
    height: 15px;
    letter-spacing: 3px;
    line-height: 15px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 92px; //this is available if you have woocommerce activated
    &:before {
      color: #ffd11a;
      content: "\73\73\73\73\73";
      float: left;
      left: 0;
      position: absolute;
      top: 0;
    }
    span {
      color: #ffd11a;
      float: left;
      left: 0;
      overflow: hidden;
      padding-top: 20px;
      position: absolute;
      top: 0;
    }
    span:before {
      content: "\53\53\53\53\53";
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .woocommerce-product-rating {
    display: block;
    line-height: 2em;

    .star-rating {
      float: left;
      margin: 8px 4px 0 0;
    }
  }

  .products {
    .star-rating {
      display: block;
      float: none;
      margin-bottom: 18px;
    }
  }

  .hreview-aggregate {
    .star-rating {
      margin: 10px 0 0 0;
    }
  }

  #review_form {
    #respond {
      @extend .clearfix-woo;
      background: transparent none;
      border: 0;
      margin: 0;
      padding: 0 0 0;
      position: static;
      width: auto;
      p {
        margin: 0 0 10px;
      }
      .form-submit {
        input {
          left: auto;
        }
      }
      textarea {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

  p.stars {
    font-size: 1em;
    position: relative;

    a {
      display: inline-block;
      font-weight: 700;
      margin-right: 1em;
      position: relative;
      text-indent: -9999px;
      &:last-child {
        border-right: 0;
      }

      &.star-1,
      &.star-2,
      &.star-3,
      &.star-4,
      &.star-5 {
        border-right: 1px solid #ffd11a;

        &:after {
          font-family: "WooCommerce";
          left: 0;
          position: absolute;
          text-indent: 0;
          top: 0;
        }

      }

      &.star-1 {
        width: 2em;

        &:after {
          content: "\e021";
        }

        &:hover:after,
        &.active:after {
          content: "\e020"
        }
      }

      &.star-2 {
        width: 3em;

        &:after {
          content: "\e021\e021";
        }

        &:hover:after,
        &.active:after {
          content: "\e020\e020"
        }
      }

      &.star-3 {
        width: 4em;

        &:after {
          content: "\e021\e021\e021";
        }

        &:hover:after,
        &.active:after {
          content: "\e020\e020\e020"
        }
      }

      &.star-4 {
        width: 5em;

        &:after {
          content: "\e021\e021\e021\e021";
        }

        &:hover:after,
        &.active:after {
          content: "\e020\e020\e020\e020"
        }
      }

      &.star-5 {
        border: 0;
        width: 6em;

        &:after {
          content: "\e021\e021\e021\e021\e021";
        }

        &:hover:after,
        &.active:after {
          content: "\e020\e020\e020\e020\e020"
        }
      }
    }
  }
  // End of rating

  // Pagination
  .bSe {
    .woocommerce-pagination {
      ul.page-numbers {
        list-style: none;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        background-image: none;
        height: auto;
        display: block;
        li {
          display: inline-block;
          background-color: transparent;
          line-height: 20px;
          span.page-numbers.current {
            border: 1px solid #d3d3d3;
            padding: 6px 14px;
            background-color: transparent;
            line-height: 20px;
            height: auto;
          }
          a {
            border: 1px solid #d3d3d3;
            color: #858585;
            padding: 6px 14px;
            text-decoration: none;
            line-height: 20px;
            height: auto;
            background-color: transparent;
            &:hover {
              background-color: #387fc8;
              border-color: #387fc8;
              color: #fff;
            }
          }
        }
      }
    }
  }

  // Product
  .product {
    position: relative;
    .onsale {
      background-color: #eb6a32;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      left: -5px;
      line-height: 15px;
      padding: 7px 22px;
      position: absolute;
      text-transform: uppercase;
      top: -4px;
    }
    .images {
      float: left;
      padding-right: 22px;
      width: 50%;
      box-sizing: border-box;
      img {
        width: 100%;
      }
      .flex-control-nav li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;

        img {
          width: 100px;
          &:hover {
            outline: 1px solid #4286cb;
          }
        }
      }
    }
    .summary.entry-summary {
      float: left;
      width: 50%;
      h1.product_title {
        text-transform: initial;
        color: #5a5a5a;
        font-size: 28px;
        font-weight: 600;
      }
      a.woocommerce-review-link {
        color: #858585;
        font-size: 15px;
        text-decoration: none;
      }
      .price {
        font-size: 24px;
        > span.amount {
          color: #bcbcbc;
        }
        del {
          color: #bcbcbc;
        }
        ins {
          background-color: #fff;
          color: #858585;
        }
      }
      p {
        color: #5a5a5a;
        font-size: 17px;
      }
      @extend .clearfix-woo;
    }
    @media(max-width: 727px) {
      .summary.entry-summary,
      .images {
        width: 100%;
        float: none;
      }
    }
    .cart {
      border-bottom: 1px solid #ededed;
      border-top: 1px solid #ededed;
      display: block;
      margin-bottom: 20px;
      padding: 24px 0;
      .single_add_to_cart_button {
        float: left;
        margin-left: 24px;
        &:hover {
          background-color: #387fc8;
          color: #fff;
        }
        @extend .tve-woo-btn;
      }
      @extend .clearfix-woo;
    }
    //variations
    table.variations {
      tbody {
        tr {
          td {
            border: none;
            &.label {
              font-weight: 600;
              padding: 10px 10px 10px 0;
            }
            &.value {
              select {
                border: 1px solid #ececec;
                height: 36px;
                margin-right: 10px;
                padding: 0 15px;
              }
              a.reset_variations {
                color: #387fc8;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    .product_meta {
      color: #858585;
      font-size: 17px;
      a {
        color: #5a5a5a;
        text-decoration: none;
      }
    }
    .woocommerce-tabs {
      clear: both;
      padding-top: 15px;
      ul.tabs {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-right: 22px;
        box-sizing: border-box;
        width: 100%;
        @media(max-width: 1080px) {
          li {
            margin-bottom: 5px;
            display: block;
            a {
              border: 1px solid #ececec;
              color: #858585;
              display: block;
              font-size: 17px;
              line-height: 12px;
              padding: 5px 50px;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              border-radius: 5px;
              &:hover {
                border-color: #387fc8;
                color: #387fc8;
              }
            }
          }
        }
        @media(min-width: 1080px) {
          li {
            display: table-cell;
            width: 1%;
            a {
              border: 1px solid #ececec;
              color: #858585;
              display: block;
              font-size: 17px;
              line-height: 20px;
              padding: 10px 50px;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              &:hover {
                border-color: #387fc8;
                color: #387fc8;
              }
            }
            &.active {
              a {
                border-color: #387fc8;
                color: #387fc8;
              }
            }
            &:first-child {
              a {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
              }
            }
            &:last-child {
              a {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
              }
            }
          }
        }
        @extend .clearfix-woo;
      }
      // Tabs content's
      .panel.entry-content {
        //description
        &#tab-description {
          h2 {
            line-height: 22px;
            font-size: 24px;
            color: #5a5a5a;
            font-weight: 600;
          }
          color: #5a5a5a;
          font-size: 17px;
        }
        &#tab-reviews {
          h2 {
            color: #5a5a5a;
            font-size: 24px;
            font-weight: 600;
          }
          #reviews {

            #comments {
              h2 {
                margin-bottom: 20px;
              }
              ol.commentlist {
                //list-style:none;
                margin: 0;
                padding: 0;
                li {
                  border-bottom: 1px solid #ededed;
                  display: block;
                  margin-bottom: 30px;
                  .comment_container {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    img {
                      border: 1px solid #d3d3d3;
                      left: 0;
                      position: absolute;
                      top: 0;
                      border-radius: 0;
                    }
                    .comment-text {
                      position: relative;
                      .star-rating {
                        left: 72px;
                        position: absolute;
                        top: 34px;
                      }
                      .meta {
                        font-size: 17px;
                        left: 72px;
                        position: absolute;
                        top: 0;
                        visibility: hidden;
                        strong {
                          color: #5a5a5a;
                          font-weight: 600;
                          visibility: visible;
                        }
                        time {
                          color: #959595;
                          font-weight: 400;
                          margin-left: -12px;
                          visibility: visible;
                          &:before {
                            content: " - ";
                          }
                        }
                      }
                      .description {
                        left: 0;
                        position: inherit;
                        top: 73px;
                        p {
                          color: #5a5a5a;
                          font-size: 17px;
                          line-height: 25px;
                          padding-bottom: 23px;
                        }
                        // Clear line
                        @extend .clearfix-woo;
                      }
                    }
                    // Clear line
                    &:after {
                      content: " ";
                      display: inline-block;
                    }
                  }
                }
              }
            }
            //reviews
            #review_form_wrapper {
              #review_form {
                .comment-respond {
                  width: 100%;
                  h3.comment-reply-title {
                    color: #5a5a5a;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 22px;
                    margin-top: 0;
                  }
                  .comment-form {
                    width: 100%;
                    label {
                      color: #5a5a5a;
                      display: block;
                      font-size: 17px;
                      margin-bottom: 7px;
                    }
                    input[type="text"] {
                      display: block;
                      height: 48px;
                      max-width: 415px;
                      padding-left: 10px;
                      padding-right: 10px;
                      &:focus,
                      &:hover {
                        border: 1px solid #b1b1b1;
                      }
                    }
                    .comment-form-rating {
                      margin: 20px 0 20px;
                      a {
                        border: 1px solid #ececec;
                        color: #5a5a5a;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 16px;
                        padding: 7px 12px;
                        text-decoration: none;
                        text-indent: initial;
                        width: 100px;
                        &.active {
                          border-color: #b1b1b1;
                        }
                        &:hover {
                          border-color: #387fc8;
                        }
                        &:after {
                          color: #ffd11a;
                          left: 32px;
                          top: 7px;
                        }
                      }
                    }
                    .comment-form-comment {
                      textarea {
                        border: 1px solid #ececec;
                        display: block;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        height: 100px;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        width: 100%;

                        &:focus,
                        &:hover {
                          border: 1px solid #b1b1b1;
                        }
                      }
                    }
                    .form-submit {
                      input[type="submit"] {
                        @extend .tve-woo-btn;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        // other tabs go here... ex.&#tab-custom
      }
    }
    // (You may also like…)
    .related.products,
    .upsells.products,
    .panel.entry-content {
      h2 {
        color: #5a5a5a;
        font-size: 24px;
        font-weight: 600;
        line-height: 22px;
      }
    }
    table.shop_attributes {
      th, td {
        background: transparent;
        border-color: #ececec;
      }
      th {
        font-weight: 600;
      }
    }
  }
  .cnt article {
    // Alerts (Notifications)
    .woocommerce-message,
    .woocommerce-error,
    .woocommerce-info {
      border-radius: 5px;
      color: #5a5a5a;
      font-size: 17px;
      font-weight: 400;
      list-style: none;
      margin: 0 0 10px 0;
      padding: 13px 10px 13px 47px;
      position: relative;
      width: auto;
      &:before {
        display: block;
        font-family: 'FontAwesome';
        font-size: 16px;
        left: 15px;
        position: absolute;
        top: 16px;
      }
      .button {
        float: right;
      }
      li {
        list-style: none;
      }
      a {
        color: #387fc8;
        text-decoration: none;
      }
    }
    .woocommerce-message {
      border: 1px solid #8fca6f;
      a {
        color: #8fca6f;
        font-weight: 600;
        text-decoration: underline;
      }
      &:before {
        color: #8fca6f;
        content: "\f058";
      }
    }
    .woocommerce-info {
      border: 1px solid #387fc8;
      &:before {
        color: #387fc8;
        content: "\f05a";
      }
    }
    .woocommerce-error {
      border: 1px solid #d05621;
      &:before {
        color: #d05621;
        content: "\f071";
        top: 14px;
      }
    }
  }
  // Cart
  .bSe {
    .awr {
      .woocommerce {
        table.shop_table.cart {
          border: none;
          thead {
            tr {
              border: 1px solid #ececec;
              th {
                border: none;
              }
            }
          }
          tbody {
            tr {
              height: 100%;
              td {
                font-size: 17px;
                &.actions {
                  border: none;
                }
              }
              &.cart_item {
                td {
                  &.product-remove {
                    border-left: 1px solid #ececec;
                    padding-left: 0;
                    text-align: center;
                    a.remove {
                      color: #fff;
                      font-size: 0;
                      text-decoration: none;
                      &:after {
                        color: #858585;
                        content: "\f05c";
                        font-family: 'FontAwesome';
                        font-size: 21px;
                      }
                      &:hover {
                        &:after {
                          color: #d05621;
                        }
                      }
                    }
                  }
                  &.product-thumbnail,
                  &.product-name,
                  &.product-price,
                  &.product-quantity,
                  &.product-subtotal {
                    border: none;
                    border-bottom: 1px solid #ececec;
                  }
                  &.product-thumbnail {
                    img {
                      border: 1px solid #d5d5d5;
                      height: 54px;
                      width: 54px;
                      &:hover {
                        border-color: #387fc8;
                      }
                    }
                  }
                  &.product-name {
                    a {
                      color: #387fc8;
                      text-decoration: none;
                    }
                  }
                  &.product-price,
                  &.product-subtotal {
                    color: #858585;
                  }
                  &.product-subtotal {
                    border-right: 1px solid #ececec;
                  }
                }
              }
              td {
                line-height: normal;
                padding: 10px 0 5px 10px;
                vertical-align: middle;
                &.actions {
                  border: none;
                  padding: 10px 0;
                  text-align: right;
                  .coupon {
                    display: inline-block;
                    float: left;
                    label {
                      display: none;
                    }
                    input[type="text"] {
                      float: left;
                      height: 38px;
                      margin-right: 10px;
                    }
                  }
                  input[type="submit"] {
                    @extend .tve-woo-btn;
                    border-width: 1px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ul#shipping_method {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      input[type="radio"] {
        margin-top: 8px;
      }
      input[type="radio"],
      label {
        display: inline-block;
        float: left;
      }
      @extend .clearfix-woo;
    }
  }
  .cart-collaterals {
    h2 a {
      color: #5a5a5a;
      font-size: 24px;
      font-weight: 600;
    }
    // Cart totals
    .cart_totals {
      display: block;
      table {
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #ececec;
        border-left: none;
        ul#shipping_method {
          input[type="radio"] {
            margin-top: 4px;
          }
          label {
            font-size: 17px;
            line-height: 21px;
          }
        }
        td,
        th {
          border: none;
          padding: 0 0 20px 0;
        }
        tr {
          th {
            background: none;
            color: #424242;
            font-size: 17px;
            font-weight: 500;
            padding-right: 10px;
            text-align: left;
            width: 40%;
          }
          td {
            color: #858585;
          }
          &.order-total {
            td {
              color: #424242;
              font-weight: 600;
            }
          }
        }
      }
      @extend .clearfix-woo;
      // Shipping calculation
      .woocommerce-shipping-calculator {
        width: 250px;
        input[type="text"],
        select {
          display: block;
          margin-right: 10px;
          box-sizing: border-box;
          width: 100%;

        }
        button {
          border-width: 1px;
          @extend .tve-woo-btn;
        }
      }
    }
    .checkout-button {
      @extend .tve-woo-btn;
      text-decoration: none;
    }
  }
  /* Checkout
  -------------------------------------------------------------- */
  .checkout_coupon {
    .form-row {
      display: inline-block;
      float: left;
    }
    input[type="submit"] {
      @extend .tve-woo-btn;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-left: 5px;
    }
  }
  .cnt {
    .checkout {
      //reset cols
      .col2-set {
        display: block;
        .col-1,
        .col-2 {
          float: none;
          width: 100%;
          .create-account {
            input[type="checkbox"] {
              float: right;
              margin-top: 9px;
            }
          }
        }
      }
      h3 {
        font-size: 24px;
        font-weight: 600;
        &#ship-to-different-address {
          @extend .clearfix-woo;
          label {
            float: left;
          }
          input[type="checkbox"] {
            float: right;
            margin-top: 12px;
          }
        }
      }
      input[type="text"], input[type="tel"] {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }
      label {
        font-weight: 400;
      }

      #order_comments_field {
        textarea {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          height: 100px;
          padding-bottom: 10px;
          padding-top: 10px;
          width: 100%;
        }
      }
      #order_review {
        table.shop_table {
          td,
          th {
            background: none;
            border-color: #ececec;
            padding: 20px 26px;
            text-align: left;
          }
          tbody {
            tr {
              td {
                .product-quantity {
                  font-weight: 600;
                }
              }
            }
          }
          tfoot,
          thead {
            tr {
              th {
                font-weight: 600;
              }
              &.order-total {
                td {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      .place-order {
        #place_order {
          @extend .tve-woo-btn;
        }
      }
      // Create an account
      .form-row.form-row-wide.create-account {
        input[type="checkbox"] {
          margin-top: 9px;
        }
        label {
          float: left;
        }
        @extend .clearfix-woo;
      }
    }
  }
  #payment {
    ul.payment_methods {
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0;
      li {
        border-bottom: 1px solid #ececec;
        line-height: 32px;
        padding: 21px 0 11px 0;
        vertical-align: middle;
        label {
          color: #5a5a5a;
          display: inline-block;
          font-size: 17px;
        }
        input[type="radio"] {
          display: inline-block;
          float: left;
          margin-right: 10px;
          margin-top: 10.4px;
        }
        &:first-child {
          border-top: 1px solid #ececec;
        }
        &.payment_method_paypal {
          img {
            box-shadow: none;
            margin: -2px .5em 0 .5em;
            padding: 0;
            position: relative;
            vertical-align: middle;
            width: 100px;
          }
        }
        .payment_box {
          margin-left: 28px;
          p {
            color: #858585;
            font-weight: 400;
          }
        }
      }
    }
  }
  // apply for all similar forms
  label {
    display: block;
    margin-bottom: 10px;
  }
  abbr.required,
  .required {
    border: none;
    color: #5a5a5a;
  }

  // Order Confirmation page | Order revived
  ul.order_details {
    @extend .clearfix-woo;
    border: 1px solid #ececec;
    list-style: none;
    margin: 0 0 1.5em;
    padding-left: 0;
    box-sizing: border-box;
    width: 100%;
    li {
      border-right: 1px solid #ececec;
      color: #818181;
      float: left;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      padding: 14px 26px 16px 26px;
      text-transform: uppercase;
      strong {
        color: #5a5a5a;

        display: block;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.5;
        text-transform: none;
      }
      &:last-of-type {
        border: none;
      }
    }
  }
  @media(max-width: 1080px) {
    ul.order_details {
      border-color: transparent;
      li {
        border-color: transparent;
        width: 100%;
        padding: 0 0 10px 0;
      }
    }
  }
  table.order_details,
  table.customer_details {
    a {
      color: #424242;
      font-size: 17px;
      text-decoration: none;
    }
    .product-quantity {
      color: #424242;
      font-size: 17px;
      font-weight: 600;
    }
    .product-name,
    .product-total {
      font-weight: 400;
    }
    td,
    th {
      background: none;
      border-color: #ececec;
      padding: 20px 26px;
      text-align: left;
    }
    tbody {
      tr {
        td {
          color: #858585;
          .product-quantity {
            font-weight: 600;
          }
        }
      }
    }
    tfoot,
    thead {
      tr {
        th {
          color: #424242;
          font-weight: 600;
        }
        td {
          color: #858585;
          .amount {
            font-weight: 600;
          }
        }
        &.order-total {
          td {
            font-weight: 600;
          }
        }
      }
    }
  }
  // my account
  .woocommerce {
    table.my_account_orders {
      th {
        font-size: 17px;
        padding: 13px 10px;
      }
      tr, th {
        background: none;

      }
      td, th {
        border-color: #ececec;
      }
      td.order-actions {
        text-align: center;
        a {
          font-size: 17px;
          padding: 9px 13px;
          border: none;
          background-color: transparent;
          &:hover {
            background-color: transparent;
            color: #387fc8;
          }
        }
      }
    }
    fieldset {
      legend {
        color: #5a5a5a;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
    .form-row {
      box-sizing: border-box;
      label {
        display: block;
      }
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="tel"] {
        display: block;
        width: 100%;
      }
    }
  }
  // Addresses
  .addresses {
    .address,
    .col-1,
    .col-2 {
      border: 1px solid #ececec;
      padding: 0 19px;
      box-sizing: border-box;
      header {
        display: block;
        h3 {
          color: #5a5a5a;
          float: left;
          font-size: 19px;
          font-weight: 600;
          margin: 22px 0 26px 0;
        }
        a {
          float: right;
          font-size: 16px;
          margin-top: 17px;
          padding: 9px 13px;
          @extend .tve-woo-btn;
        }
        @extend .clearfix-woo;
      }
      address {
        color: #5a5a5a;
        font-size: 17px;
        line-height: 28px;
      }
    }
  }
  // Login
  #customer_login {
    input[type="submit"] {
      margin-bottom: 10px;
    }
  }
}

//woo cart fix
@media screen and (max-width: 772px) {
  .tve-woocommerce table.shop_table {
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tbody tr.cart_item {
      margin-bottom: 40px !important;
      display: block;
      position: relative;
      border: none !important;
      td {
        display: block;
        border: none !important;
        &.product-remove {
          width: 33px;
          padding: 0 !important;
          a.remove::after {
            font-size: 32px !important;
          }
        }
        &.product-thumbnail {
          height: 50px;
          &:before {
            content: "IMAGE";
          }
          a {
            float: right;
          }
        }
        &.product-name {
          &:before {
            content: "PRODUCT";
          }
          a {
            float: right;
          }
        }
        &.product-price {
          &:before {
            content: "PRICE";
          }
          .amount {
            float: right;
          }
        }
        &.product-quantity {
          height: 44px;
          &:before {
            content: "QUANTITY";
          }
          .quantity {
            float: right;
          }
        }
        &.product-subtotal {
          border-bottom: 1px solid #ececec !important;
        }
        // &.product-total:before {
        //     content: "TOTAL";
        // }
      }
    }
    tbody tr td.actions {
      .coupon {
        display: block !important;
        float: none !important;
      }
      input[type="text"],
      input[type="tel"],
      input[type="submit"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        float: none !important;
      }
      input[type="text"] {
        max-width: 100%;
      }
    }
  }
  table.shop_table_responsive {
    border: none !important;
    thead {
      display: none;
    }

    tbody {
      tr:first-child {
        td:first-child {
          border-top: 0;
        }
      }

      th {
        display: none;
      }
    }

    tr {
      display: block;
      margin-bottom: 20px;
      td {
        display: block;

        &:before {
          font-weight: 700;
        }
        &.order-actions:before {
          display: none;
        }
      }

      &:nth-child(2n) {
        td {
          background-color: rgba(0, 0, 0, 0.025);
        }
      }
    }
  }
}

@media screen and (min-width: 773px) {
  .woocommerce-page table.shop_table {
    tbody tr td.actions {
      input[type="text"] {
        max-width: 220px;
      }
    }
  }
}
